@charset "utf-8";

@media (min-width:320px) and (max-width:359.5px){html{font-size:10px;}}
@media (min-width:360px) and (max-width:399.5px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439.5px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479.5px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519.5px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559.5px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599.5px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639.5px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679.5px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719.5px){html{font-size:19px;}}
@media (min-width:719.5px) and (max-width:759.5px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799.5px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839.5px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879.5px){html{font-size:23px;}}
@media (min-width:880px) and (max-width:919.5px) {html{font-size:24px;}}
@media (min-width:920px) and (max-width:959.5px) {html{font-size:25px;}}
@media (min-width:960px) and (max-width:999.5px) {html{font-size:26px;}}
@media (min-width:1000px) and (max-width:1039px) {html{font-size:27px;}}
@media (min-width:1040px) and (max-width:1079px) {html{font-size:28px;}}
@media (min-width:1080px) and (max-width:1119px) {html{font-size:29px;}}
@media (min-width:1120px) and (max-width:1159px) {html{font-size:30px;}}
@media (min-width:1160px) and (max-width:1199px) {html{font-size:31px;}}


@media (min-width:650px) and (max-width:1275px) {
	
}


@media (min-width: 320px) and (max-width:649px) {
	
}