@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


* { margin: 0px; padding: 0px; 
   box-sizing: border-box; 
   font-family: NanumSquare;
   list-style-type: none; text-decoration: none;
}


html,body { width: 100%; height: 100%; font-size: 32px; color: #333333; overflow-x: visible;}


/* blind */

.blind { position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden; }



#wrap { width: 100%; height: 100%; }

/* header */


#header { 
   width: 100%; height: 102px; margin: 0 auto; background: #FDFDFD;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
}

#top-menu { 
   width: 1195px; margin: 0 auto; height: 100%; display: flex;
}


input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

input, textarea, button { appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }


img {
	max-width: 100%;
	height: auto;
	border: 0;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer; 
}

a {
    text-decoration: none; 
    outline: none;
    color: inherit; 
}

a:hover, a:active, a:visited{
    text-decoration: none; 
    color: inherit;
}

#content { width: 100%;}



#container {  
   color: #333333;
}




/* path-bar */



.path-bar {
   width: 1195px;
   margin: 0 auto;
   padding-top: 25px;
   display: flex;
   align-items: center;
   border-top: 1px solid #C4C4C4;
}

.path-bar a {
   display: inline-block;
   color: #333333;

}
.path-bar p {
   margin-right: 0.25rem;
   font-size: 0.50rem;
   line-height: 0.56rem;
   color: #333333;
}

.path-bar img {
   margin-right: 8px;
   display: inline-block;
   width: 8px;
   height: 14px;
}


/* order-bookbox */

.order-menu > div {
   width: 1195px;
   margin: 0 auto;
   display: flex;
   margin-top: 25px;
}


.order-menu > .order-menu-box {
   margin-bottom: 60px;
}


.main-bookbox {
   width: 458px;
   height: 596px;
}

.main-bookbox > img {
   width: 100%;
}


.order-info {
   width: 684px;
   margin-left: 54px;
}

.order-title {
   padding-left: 70px;
   padding-bottom: 23px;
   background: url(../static/detail-page/bookinfo-vectimg.png) no-repeat;
   background-size: 43.6px 54.5px;
   background-position: top 0px left 0px; 
   border-bottom: 2px solid #EC5937;
}

.order-title h3 {
   font-weight: 800;
   font-size: 28px;
   line-height: 32px;
}

.order-title p {
   font-weight: bold;
   font-size: 24px;
   line-height: 27px;
}

.order-list ul {
   padding-top: 41px;
}

.order-list ul > li {
   display: flex;
   padding-bottom: 45px;
}

.line-through {
   text-decoration: line-through;
}

.Litem {
   width: 130px;
   font-weight: bold;
   font-size: 18px;
   line-height: 20px;
}



.Ritem {
   padding-left: 40px;
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
}

.Ritem .sale-rate {
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
   color: #EC5937;
   margin-right: 9px;
}

.sale-price {
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   margin-right: 4px;
}

.won {
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
}

.delibery-caution {
   margin-top: 8px;
   font-size: 14px;
   line-height: 16px;
   color: #EC5937;
}

.order-list > ul {
   border-bottom: 1px solid#C4C4C4;
   margin-bottom: 23px;

}

/* select-option */


.select-option {
   margin-bottom: 23px;
}



.selectBox * { box-sizing: border-box; }
.selectBox {
   position: relative;
   width: 100%;
   height: 65px;
   border-radius: 15px;
   cursor: pointer;
   background-color: #FDFDFD;
}



.selectBox .label {
   display: flex;
   position: relative;
   align-items: center;
   width: inherit;
   height: inherit;
   border: 0 none;
   outline: 0 none;
   background: #FDFDFD;
   cursor: pointer;
   padding: 15px;
   padding-left: 25px;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   z-index: 3001;
   background: url(../static/faq/faq-open.png) calc(100% - 16px) center no-repeat;
   background-size: 20px;
   border-radius: 15px;
   transition: 100ms;
   border: 2.5px solid #E8E8E8;;
}

.selectBox.active .label{
   transition: 100ms;
   background: url(../static/faq/faq-close.png) calc(100% - 16px) center no-repeat;
   background-size: 20px;
   background-color: #FDFDFD;
}

.selectBox .optionList {
   position: absolute;
   top: 0px;
   left: 0;
   width: 100%;
   list-style-type: none;
   padding: 0;
   overflow: hidden;
   max-height: 0;
   /* transition: .3s ease-in; */
   z-index: 3000;
   background: #FDFDFD;
   border-radius: 15px;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
}

.selectBox.active .optionList {
  max-height: 500px;
  z-index: 3000;
  /* border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px; */
}

.selectBox .optionItem {
    /* border-bottom: 1px dashed rgb(170, 72, 72); */
    width: 100%;
    height: 100%;
    /* transition: .1s; */
    background-size: 20px;
    cursor: pointer;
    background-color: #FDFDFD;
    padding: 15px;
    padding-left: 25px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    z-index: 3000;
}


.selectBox .optionItem:first-child {
   padding-top: 97px;
   width: 100%;
   padding-bottom: 15px;
   height: 100%;;
}

.selectBox .optionItem:last-child {
   width: 100%;
   padding-bottom: 25px;
   height: 100%;;
}

/* .selectBox .optionItem:nth-child(1) {
   border-radius: 20px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;   
}

.optionItem:nth-child(1):hover ~ .selectBox.active .optionList {
   background: rgba(14, 14, 14, 0.036);
}



.selectBox .optionItem:last-child {
   border-radius: 20px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   
} */


.selectBox .optionItem:hover {
  background: #F3F3F3;
}


.selectBox .optionList::-webkit-scrollbar {width: 6px;}
.selectBox .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}









.button-set {
   display: flex;
   justify-content: space-between;
}


/* amount-box */

.amount-box { 
   width: 100%; height: 100%; 
   display: flex; justify-content: space-between; align-items: center;
}

.amount-check { 
   width: 105px; height: 69px; border: 2px solid #C4C4C4; border-radius: 10px;
   display: flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; 
  border-right: 0px;
}

.amount-num {
  width: 75px;
   height: 69px;
}
.plus-minus-box {
  width: 30px;
  margin-top: -2px;
  margin-bottom: -2px;
  background: #EC5937 url(../static/btn-amount.png) no-repeat center center;
  background-size: contain;
  border-radius: 10px;
  /* background: #ffffff url("gradient_bg.png") no-repeat right top; */
}


.amount-check > div:last-child { border-right: none;}


.sign { 
   display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
   background: transparent;
  width: 100%;
  height: 50%;
}

.amount-num { font-size: 0.5rem!important; text-align: right; line-height: 25px;}
.amount-num > input { 
   display: block; margin-right: 3px; color: #333333;
   width: 100%; height: 100%; border: none; outline: none;
   
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] { box-sizing: border-box; padding: 20px; text-align:right; font-weight: normal;
font-size: 18px;
line-height: 20px;
background: transparent;}

.add-cart > button, 
.go-buy > button {
   width: 269px;
   height: 69px;
   border-radius: 15px;
   font-weight: 800;
   font-size: 22px;
   line-height: 25px;
   text-align: center;
   border: none;
}

.add-cart > button {
   border: 2px solid #EC5937;
   color: #EC5937;
   background: #FDFDFD;
}

.go-buy > button {
   background: #EC5937; 
   color: #FDFDFD;
   margin-left: 20px;
}



/* event-banner */


.event-banner {
   background: #EC683D;
}

.event-banner-box {
   width: 1195px;
   height: 152px;
   margin: 0 auto;

}

.event-banner-box img {
   width: 100%;
}

/* .page-direction-position */

.page-direction-position {
   position: sticky;
   top: 0;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-bottom: 2px solid #EC5937;
   background: #FDFDFD;
   transition: transform 400ms ease-in-out 400ms;
   z-index: 9999;
}

.page-direction-box {
   display: flex;
   width: 1195px;
   height: 73px;
   margin: 0 auto;
   justify-content: space-between;
}


.page-box {
   color: #333333;
   background: #F3F3F3;
   font-weight: bold;
   font-size: 16px;
   line-height: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.active-box {
   background: #EC5937;
   color: #FDFDFD;
}


.detail-page-box {
   width: 78px;
   height: 100%;
}

.faq-page-box {
   width: 80px;
   height: 100%;
}

.question-page-box {
   width: 91px;
   height: 100%;
}

.shipment-page-box {
   width: 133px;
   height: 100%;
}

.order-page-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 787px;
   background: #F3F3F3;
}

.order-page-title {
   width: 187px;
}

.page-book-title {
   font-weight: 800;
   font-size: 18px;
   line-height: 20px;
   text-align: right;
}

.page-book-level {
   font-weight: bold;
   font-size: 14px;
   line-height: 16px;
   text-align: right;
}


.order-page-box .bar {
   display: inline-block;
   margin: 0 0 0px 30px;
   width: 1px;
   height: 48px;
   background: #DFDFDF;
}



.page-book-price {
   font-weight: 800;
   font-size: 22px;
   line-height: 25px;
   /* identical to box height */
   
   
   color: #EC5937;
}


.page-add {
   width: 4.59rem;
   height: 1.50rem;
   font-weight: bold;
   font-size: 18px;
   line-height: 20px;
   color: #EC5937;
   background: transparent;
   border-radius: 10px;
   border: 2px solid #EC5937;
}

.page-buy {
   width: 4.59rem;
   height: 1.50rem;
   border: none;
   color: #FDFDFD;
   background: #EC5937;
   border-radius: 10px;
   font-weight: bold;
   font-size: 18px;
   line-height: 20px;
}

.order-page-box .amount-check {
   width: 2.31rem;
   height: 1.5rem;
   background: #FDFDFD;
}


.order-page-box .amount-num {
   width: 1.66rem;
   height: 100%;

}

.order-page-box .amount-num input {
   width: 100%;
   height: 100%;
   font-size: 0.56rem;
   padding: 0rem 0.2rem 0rem 0.1rem;
   line-height: 1px;
}

.order-page-box .plus-minus-box {
   width: 0.66rem;
   height: 1.5rem;
}

/* book-tcontent */
.book-description > div,
.book-tcontent > div,
.event-banner > div,
.page-direction-position > div,
.book-tcontent > div {
   width: 1195px;
   margin: 0 auto;
}





.book-tcontent {
   margin-bottom: 75px;
}

.book-tbox {
   border-bottom: 1px solid #C4C4C4;
   padding: 40px 125px 36px;
}

.bcontent-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 27px;
   margin-bottom: 35px;
}

.bcontent-item {
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
   white-space:pre;
   word-break: keep-all;
   height: 260px;
    overflow: hidden;
    transition: 50ms;
}



.bcontent-btndesign {
   display: flex;
   justify-content: right;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
   color: #EC683D;
   cursor: pointer;
}


.bcontent-close {
   display: none;
   text-align: right;
}

.toggleClass {
   display: flex !important;
}



.bcontent-open::after {
   display: inline-block;
   content: '';
   width: 12px;
   background: url(../static/detail-page/open-content.png) no-repeat 0px 50%;
   background-size: 12px 6px;
   margin-left: 5px;
   
   
}


.bcontent-close::after {
   display: inline-block;
   content: '';
   width: 12px;
   background: url(../static/detail-page/close-content.png) no-repeat 0px 50%;
   background-size: 12px 6px;
   margin-left: 5px;
}




/* book-img */

.book-mookupimg {
   display: block;
   width: 1195px;
   height: 895px;
   margin: 0 auto;
   margin-bottom: 35px;
}



.book-desbox {
   height: 2230px;
   overflow: hidden;
   margin-bottom: 100px;
}

.height-full {
   height: 100%;
}


.book-description > .book-infobox {
   border-bottom: 1.48px solid #C4C4C4;
}

.book-inforamtionimg {
   display: block;
   width: 935px;
   height: 3943px;
   margin: 0 auto;
}

.more-bookinfo {
   display: block;
   font-weight: 800;
   border: none;
   background: #fff;
   margin: 0 auto;
   font-size: 22px;
   line-height: 25px;
   border-radius: 15px;
   border: 2px solid #EC5937;
   width: 233px;
   height: 69px;
   color: #EC5937;
   margin: 0 auto;
   margin-bottom: 60px;
   background: url(../static/detail-page/open-bookinfo.png) no-repeat;
   background-size: 24px 24px;
   background-position: top 47% right 12%;
   text-align: center;
   padding-top: 18px;
   text-indent: -10px;

   
}

.more-bookinfo.back {
   display: none;
   font-weight: 800;
   border: none;
   background: #fff;
   font-size: 22px;
   line-height: 25px;
   border-radius: 15px;
   border: 2px solid #EC5937;
   width: 233px;
   height: 69px;
   color: #EC5937;
   margin: 0 auto;
   margin-bottom: 60px;
   background: url(../static/detail-page/close-bookinfo.png) no-repeat;
   background-size: 24px 24px;
   background-position: top 47% right 12%;
}

/* .more-bookinfo::after {
   content: '';
   display: inline-block;
   width: 24px;
   height: 24px;
   background: url(../static/detail-page/open-bookinfo.png) no-repeat 0px 70%;
   background-size: 24px 24px;
   margin-left: 5px;
   margin-top: 5px;
} */



/* about-tosel */

.about-tosel > div {
   width: 1195px;
   margin: 0 auto;
   border-bottom: 1.48px solid #C4C4C4;
}


.about-tosel > .about-box {
   padding: 55px 65px 56px;
}

.about-tosel > div > p {
   width: 1050px;
}

.about-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 27px;
   margin-bottom: 32px;
}



.about-test {
   font-weight: normal;
   font-size: 18px;
   margin-bottom: 32px;
   white-space: pre-wrap;
   word-break: break-all;
}

.about-ability {
   font-weight: normal;
   font-size: 18px;
   white-space: pre-wrap;
   word-break: break-all;

}


/* book-series */

.more-series-box {
   width: 1195px;
   height: 100%;
   margin: 0 auto;
   padding: 50px 0px 70px 0px;
   border-bottom: 1.48px solid #C4C4C4;
}

.series-title {
   text-indent: 65px;
   font-weight: bold;
   font-size: 24px;
   line-height: 27px;
   margin-bottom: 57px;
}


.btn-left, .btn-right {
   position: relative;
   z-index: 999;
   width: 24px;
   height: 24px;
   border: 1px solid tomato;
}

.btn-left {
   background: url(../static/detail-page/slide-left.png) no-repeat;
   background-size: contain;
}

.btn-right {
   background: url(../static/detail-page/slide-right.png) no-repeat;
   background-size: contain;
}



.book-slide-box, .slide-show-box, .slide-show-area {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.book-slide-box {
   position: relative;
   padding: 0px 88px; 
   height: 260px;
}





.slide-show-area {
   width: 916px;
   height: 100%;
   overflow: visible;
}

.move-book {
   display: block;
   width: 100%;
   height: 100%;
}

.book-component {
   text-align: center;
}

.book-component + .book-component {
   margin-left: 56px;
}

.book-component p {
   width: 130px;
   padding: 0 5px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.series-level {
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
}

.series-btitle {
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
}

.series-text {
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
}

.series-img {
   width: 138px;
   height: 180px;
   filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.07));
}



/* ask-product */

.ask-box {
   width: 1195px;
   margin: 0 auto;
   padding: 60px 0; 
   margin-bottom: 60px;
   border-bottom: 2px solid #C4C4C4;
}

.ask-area {
   width: 1066px;
   margin: 0 auto;
}

.ask-title {
   margin-bottom: 20px;
}

.text-area {
   width: 1066px;
   height: 328px;
   background: #F3F3F3;
   margin-bottom: 20px;
   
   
}

.text-box {
   width: 100%;
   height: 100%;
   border: none;
   background: transparent;
   padding: 26px;
   font-size: 18px;
   line-height: 20px;
   
   
}

.ask-text {
   font-weight: bold;
   font-size: 14px;
   line-height: 16px;
   color: #EC5937;
}


.ask-text.top {
   margin-bottom: 10px;
}

.ask-text.bottom {
   margin-bottom: 20px;
}

.ask-btn {
   display: block;
   width: 233px;
   height: 69px;
   margin: 0 auto;
   border: 2px solid #EC5937;
   box-sizing: border-box;
   border-radius: 15px;
   font-weight: 800;
   font-size: 22px;
   line-height: 25px;
   /* identical to box height */
   
   text-align: center;
   background: transparent;
   color: #EC5937;
}

/* table-section */


.table-section {
   margin-bottom: 160px;
}
.table-box {
   width: 1123px;
   padding-top: 60px ;
   margin: 0 auto;

}


.table-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 27px;
   text-indent: 30px;
   margin-bottom: 15px;
}

table td {
   display: table-cell;
   border-collapse:collapse;
   border-spacing:0;
   border-bottom: 2px solid #DFDFDF;

}



.table-area {
   display: block;
   width: 100%;
   border-top: 2px solid #EC5937;
   border-collapse: collapse;
	border-spacing: 0;
}


.table-litem {
   width: 220px;
   text-align: center;
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
   background: #F3F3F3;
   padding: 30px 0px;
}

.table-ritem {
   width: 900px;
   font-weight: normal;
   font-size: 16px;
   line-height: 150%;
   padding: 30px 45px 30px 45px;
   word-break: break-all;
}


.tablem-design {
   display: flex;
   font-weight: normal;
   font-size: 14px;
   line-height: 141%;
   /* identical to box height, or 20px */
   
   
   color: #EC5937;
}

.tablem-design div,
.tablem-design span {
   margin-right: 5px;

}

/* #footer { width: 100%; height: 585px; background: cadetblue; } */


/* slide custom */


.swiper-slide {
   text-align: center;
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }

 .swiper {
   width: 100%;
   height: 100%;
 }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
   opacity: 1;
}

.btn-left, .btn-right{
   position: static;
   border: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
   content: none;
   font-size: inherit;
   
}



 
@media (min-width:1160px) and (max-width:1199px) {html{font-size:31px;}}
@media (min-width:1120px) and (max-width:1159px) {html{font-size:30px;}}
@media (min-width:1080px) and (max-width:1119px) {html{font-size:29px;}}
@media (min-width:1040px) and (max-width:1079px) {html{font-size:28px;}}
@media (min-width:1000px) and (max-width:1039px) {html{font-size:27px;}}
@media (min-width:960px) and (max-width:999px) {html{font-size:26px;}}
@media (min-width:920px) and (max-width:959px) {html{font-size:25px;}}
@media (min-width:880px) and (max-width:919px) {html{font-size:24px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:768px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:720px) and (max-width:768px){html{font-size:20px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media screen and (max-width:399px){html{font-size:11px;}}
@media screen and (max-width:359px){html{font-size:10px;}}
@media screen and (max-width:319px) {html{font-size:9px;}}
@media screen and (max-width:289px){html{font-size:8px;}}

@media screen and (max-width:1275px) {
   #header { height: 8vw;}
   #top-menu, #page-list, .search-bar, .faq-section, 
   .faq-box, .faq-question { width: 93.7%; }
   .t-logo { width: 15.3727vw; height: 2.3530vw; }
   .mypage { width: 1.4949vw; height: 1.6816vw; }
   .notice { width: 1.4118vw; height: 1.5686vw; }
   .FAQ { width: 1.4118vw; height: 1.4118vw; }
   .cart { width: 1.6471vw; height: 1.5686vw; }
   .ham-menu-bar { width: 2.2878vw; height: 1.8384vw;}



   .search-menu { height: 4.8627vw;}
   .search-bar { width: 93.7%; }
   .search-box { width: 28.7059vw; height: 3.0588vw;}
   .search-box > input { width: 25.4902vw;}
   .search-box > button { width: 6.8235vw;}
   .search-img { width: 1.4902vw; height: 1.5294vw;}
   .search-box > input { border-radius: 3.6863vw; border: 0.1961vw solid #DFDFDF;}
   .search-box > button { border-radius: 3.6863vw;}



   .all-text { width: 3.1373vw; height: 2.8235vw;}
   .event { width: 2.9020vw; height: 2.9020vw; }
   .best-seller { width: 2.7788vw; height: 2.8235vw; }
   .new-product { width: 3.5020vw; height: 3.6078vw; }
   .goods { width: 2.5412vw; height: 2.8235vw; }
   .data-room { width: 2.8235vw; height: 2.8235vw; }

   .search-bar span {
      font-size: 0.63rem;
      line-height: 0.63rem;
   }



   /* faq-menu */

   .faq-title {
      font-size: 0.81rem;
      line-height: 0.94rem;
   }


   /* faq-seachBox */
   .faq-searchBox {
      display: flex;
      margin-bottom: 3.7657vw;
   }




   /* faq-search */

   .faq-search { 
      width: 78.5098vw; height: 4.1569vw; background: #fff; 
      position: relative; border-radius: 3.6863vw; outline: none;
   }

   .faq-search > input { 
      width: 78.5098vw; 
      border: 0.1961vw solid #DFDFDF; border-radius: 3.6863vw;
      padding: 0 15.8431vw 0 4.7843vw;
      font-size: 0.66rem;
      line-height: 0.75rem;
   }
   .faq-search > button { 
      width: 13.8824vw; border: 0.0784vw solid transparent; 
      border-radius: 3.6863vw; 
      font-size: 0.60rem;
      line-height: 0.75rem;

   }


   .faqsearch-img { 
      top: 25%; left: 4%; width: 1.5294vw; height: 1.4902vw;

   }



   /* faq-arrange */

   .faq-arrange {
      border-bottom: 0.2347vw solid #EC5937;

   }

   .arrange-box {
      width: 32.8870vw;
      height: 7.1130vw;
      padding-bottom: -0.1282vw;
      z-index: 900;
   }

   .arrange-text {
      font-size: 0.81rem;
      line-height: 0.94rem;
   }


   /* faq-view-point */

   .faq-view-point {
      height: 4.7059vw;
      border-bottom: 0.3137vw solid #F3F3F3;
   }

   .view-box {
      width: 12.0000vw;
      margin-bottom: -0.3922vw;
   }

   .view-text {
      font-size: 0.63rem;
      line-height: 0.72rem;
   }

   .view-active {
      border-bottom: 0.3137vw solid #EC5937;
   }

   /* faq-section */




   .faq-title {
      height: 7.8431vw;
      background-size: 7.6863vw, 3.9216vw;
   }

   .faq-box {
      border-bottom: 0.3137vw solid #F3F3F3;
   }

   .faq-box:nth-child(n+5) {
      border-bottom: 0.0784vw solid #a1a5ad;
   }



   .faq-question {
      height: 10.1961vw;
      padding: 1.5686vw 7.8431vw 1.5686vw 10.1961vw;
   }

   .question-text {
      width: 75.2941vw;
      font-size: 0.65rem;
      line-height: 0.88rem;
   }

   .btn-point {
      width: 7.8431vw;
      z-index: 9000;
   }

   .question-logo {
      width: 1.6471vw;
      height: 1.5686vw;
      top: 1.8039vw;
      left: 2.1176vw;
   }

   .btn-open {
      width: 1.8039vw;
      height: 0.9412vw;
      top: 2.2745vw;
      right: 1.8039vw;
   }

   .btn-close {
      width: 1.8039vw;
      height: 0.9412vw;
      top: 2.2745vw;
      right: 1.8039vw;
   }

   .faq-answer {
      padding: 2.3529vw 7.8431vw 2.3529vw 10.1961vw;
      height: 7.8431vw;
      font-size: 0.50rem;
   }

   .answer-logo {
      position: absolute;
      width: 1.6471vw;
      height: 1.3333vw;
      top: 2.5882vw;
      left: 2.1176vw;
   }

   .answer-text {
      font-size: 0.75rem;
      line-height: 0.88rem;
      /* white-space:pre-wrap; */
   }



   
   
}


@media screen and (max-width: 768px){
   #wrap {
      min-width: 290px;
   }

   #top-menu, #page-list, .search-bar, .faq-section, 
   .faq-box, .faq-question { width: 89.7436vw; }

   #header, .search-menu {
      display: none;
   }



   /* faq-menu */

   .faq-title {
      display: none;
   }


   /* faq-seachBox */
   .faqsearch-img {
      display: none;
   }

   .faq-searchBox {
      margin-bottom: 5.1282vw;
   }




   /* faq-search */

   .faq-search { 
      width: 65.6410vw; height: 8.7179vw;  
      position: relative; border-radius: 3.6863vw; outline: none;
   }

   .faq-search > input { 
      width: 65.6410vw; 
      border: 0.6410vw solid #DFDFDF; border-radius: 3.6863vw;
      padding: 0 21.2821vw 0 4.8718vw;
      font-size: 0.75rem;
      line-height: 0.75rem;
   }
   .faq-search > button { 
      width: 20vw; 
      border: 0.0784vw solid transparent; 
      border-radius: 12.0513vw;
      font-size: 0.63rem;
      line-height: 0.75rem;

   }


   .faqsearch-img { 
      top: 25%; left: 4%; width: 1.5294vw; height: 1.4902vw;

   }



   /* faq-arrange */

   .faq-arrange {
      border-bottom: 1.0256vw solid #EC5937;
   }

   .arrange-box {
      width: 28.4615vw;
      height: 16.6667vw;
   }

   .arrange-text {
      font-size: 0.81rem;
      line-height: 0.94rem;
   }


   /* faq-view-point */

   .faq-view-point {
      height: 8.4615vw;
      border-bottom: 1.0256vw solid #F3F3F3;
   }

   .view-box {
      width: 12.0000vw;
      margin-bottom: -2.0256vw;
      border-bottom: 1.0256vw solid #F3F3F3;
   }

   .view-text {
      font-size: 1.20rem;
      line-height: 1.20rem;
   }

   .view-active {
      border-bottom: 1.0256vw solid #EC5937;
   }

   /* faq-section */




   .faq-title {
      height: 7.8431vw;
      background-size: 7.6863vw, 3.9216vw;
   }

   .faq-box {
      border-bottom: 0.3137vw solid #F3F3F3;
   }

   .faq-box:nth-child(n+5) {
      border-bottom: 0.0784vw solid #a1a5ad;
   }



   .faq-question {
      height: 17.9487vw;
      padding: 1.5686vw 11.5385vw 1.5686vw 11.5385vw;
   }

   .question-text {
      width: 75.2941vw;
      font-size: 1.40rem;
      line-height: 1.50rem;
   }

   .btn-point {
      width: 7.8431vw;
      z-index: 9000;
   }

   .question-logo {
      width: 1.6471vw;
      height: 1.5686vw;
      top: 1.8039vw;
      left: 2.1176vw;
   }

   .btn-open {
      width: 1.8039vw;
      height: 0.9412vw;
      top: 2.2745vw;
      right: 1.8039vw;
   }

   .btn-close {
      width: 1.8039vw;
      height: 0.9412vw;
      top: 2.2745vw;
      right: 1.8039vw;
   }

   .faq-answer {
      padding: 2.3529vw 7.8431vw 2.3529vw 10.1961vw;
      width: 100%;
      height: 100%;
   }

   .answer-logo {
      position: absolute;
      width: 1.6471vw;
      height: 1.3333vw;
      top: 2.5882vw;
      left: 2.1176vw;
   }

   .answer-text {
      font-size: 1.40rem;
      line-height: 1.50rem;
      /* white-space:pre-wrap; */
   }

   


   


}



input[type="checkbox"] {
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: 0;
   background: transparent;
   height: 16px;
   width: 16px;
   border: 1px solid #C4C4C4;
   border-radius: 2px;
 }
 
 input[type="checkbox"]:checked {
   background: #EC5937;
 }
 
 input[type="checkbox"]:hover {
   filter: brightness(100%);
 }
 
 input[type="checkbox"]:disabled {
   background: #e6e6e6;
   opacity: 0.6;
   pointer-events: none;
 }
 
 input[type="checkbox"]:after {
   content: '';
   position: relative;
   left: 40%;
   top: 20%;
   width: 15%;
   height: 40%;
   border: solid #fff;
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);
   display: none;
 }
 
 input[type="checkbox"]:checked:after {
   display: block;
 }
 
 input[type="checkbox"]:disabled:after {
   border-color: #7b7b7b;
 }








@media screen and (max-width: 1275px) {

 
}


@media screen and (max-width: 650px) {
	
  
}


#wrap { width: 100%; height: 100%; position: relative; }

#header { 
	width: 100%; height: 85px; margin: 0 auto; background: #FDFDFD;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
}
#top-menu { 
	width: 1195px; margin: 0 auto; height: 100%; display: flex;
}
.logo-box { 
	display: flex; align-items: center; height: 100%;
	flex: 1;
}




/* 수정 코드 */
.t-logo { 
	width: 196px; height: 30px; display: inline-block; 
	vertical-align: middle; cursor: pointer;
}

.tm-logo, .mobile-faq-logo, .mobile-bell-log, .m-close,
.tosel-logo {
   display: none;
}




/* #header 안에 있는 것들 */
nav ul li:last-child{ margin-right: 0;}

nav { display: flex; align-items: center; }
nav > ul li { display: inline-block; cursor: pointer; margin-right: 35.12px;}
nav > ul li a { 
	color: #333; vertical-align: middle; display: inline-block;
	font-size: 0.45rem;
}
.login-btn { 
	border: 1px solid #dfdfdf; width: 67px; height: 31px; border-radius: 20px;
	color: #333; display: flex; justify-content: center; align-items: center;
	cursor: pointer;
}
nav > ul li:first-child { border-right: 1px solid #dfdfdf; padding-right: 35.12px;}

nav > ul li img { vertical-align: middle; display: inline-block; margin-right: 9px;}
.mypage { width: 19.06px; height: 21.44px; }
.join { width: 24.44px; height: 20px; }
.notice { width: 18px; height: 20px; }
.FAQ { width: 18px; height: 18px; }
.cart { width: 21px; height: 20px; }



/* ham menu */
.ham-menu { 
	display: flex; cursor: pointer;
	align-items: center;
}
.ham-menu-bar { width: 29.17px; height: 23.44px;}




#content { width: 100%;}


/* search-box*/

.search-box { 
	width: 366px; height: 39px; background: #fff; 
	position: relative; border-radius: 47px; outline: none;
}
.search-box > input { 
	width: 325px; outline: none; float: left; height: 100%;
	border: 2.5px solid #DFDFDF; border-radius: 47px;
	padding: 0 55px 0 40px; font-size: 0.5rem;
}
.search-box > button { 
	width: 87px; height: 100%; border: 1px solid transparent; background: #EC5937;
	outline: none; color: #fff; border-radius: 47px; position: absolute;
	top: 0; right: 0; color: #FFF7EC; font-size: 0.5rem; line-height: 20px;
	cursor: pointer;
}


.search-img { 
	position: absolute; top: 25%; left: 4%; width: 19.5px; height: 19px;
	cursor: pointer;
}





/* fixed-category*/

.fixed-category { 
	width: 100%; height: 85px; display: block;
   margin-top: 8px;
	background: #FDFDFD; 
   box-shadow:none;
}

.fixed-menu { 
	width: 1195px; height: 100%;
	margin: 0 auto;
}




.all-text { width: 40px; height: 36px;}
.event { width: 37px; height: 37px; }
.best-seller { width: 35.43px; height: 36px; }
.new-product { width: 38.97px; height: 37.77px; }
.goods { width: 32.4px; height: 36px; }
.data-room { width: 36px; height: 36px; }






.fixed-menu { display: flex;justify-content: space-between; align-items: center; width: 1195px;}
.fixed-menu > section { display: flex; align-items: center; cursor: pointer;}
.fixed-menu > section > img { margin-right: 13px;}

.all-text-fix { width: 20.87px!important; height: 18.78px!important;}
.event-fix { width: 19.3px!important; height: 19.3px!important; }
.best-seller-fix { width: 19px!important; height: 19px!important; }
.new-product-fix { width: 20.65px!important; height: 20px!important; }
.goods-fix { width: 16.9px!important; height: 18.78px!important; }
.data-room-fix { width: 18.78px!important; height: 18.78px!important; }
.fixed-menu > section > span { font-size: 0.55rem; }







/* footer banner */
#footer { width: 100%; }
.footer-banner-bar { background: #EC683D; width: 100%; height: 152px; }
.footer-banner { 
	width: 1195px; height: 100%; 
	margin: 0 auto; overflow: hidden;
}
.banner { width: 212px; height: 146px; margin-top: 5px; float: left;}
.banner-title { 
	display: inline-block; color: #fff; float: left; margin: 34px 0 0 23px;
}
.banner-title > h2 { font-size: 0.9rem; font-weight: normal; margin-bottom: 5px;}
.banner-title > h1 { font-size: 0.9rem; font-weight: bold; }
.footer-banner > span { 
	font-size: 0.55rem; float: left; color: #fff;
	margin: 82px 0 0 57px;
}
.purchase { 
	width: 207px; height: 48px; border-radius: 38px; background: #FFFFFF;
	float: right; margin: 51px 83px 0 0; cursor: pointer; display: flex;
	align-items: center; justify-content: space-evenly;
}
.purchase > span { 
	font-size: 0.46rem; font-weight: 800; color: #EC683D;
}
.purchase > img { width: 18px; height: 18px;}
.company-intro { width: 100%; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07); background: #FDFDFD;}
.company-intro-bar { width: 1195px; height: 80px; margin: 0 auto; position: relative; }
.company-intro-bar > span { 
	font-size: 0.4rem; position: absolute; top: 50%; right: 0;
	transform: translateY(-50%); color: #333; font-weight: bold;
}

.logo-intro { 
	display: flex; height: 100%; align-items: center;
	width: 202px; align-items: center; justify-content: space-between;
}
.bottom-tosel { width: 54px; height: 14px;}
.vertical-line { display: inline-block; width: 1px; height: 55px; background: #dfdfdf;}
.tosel-lab { width: 88px; height: 14px;}


.tosel-footer { width: 100%; background: #FDFDFD; }
.tosel-footer-bar { width: 1195px; margin: 0 auto; padding-bottom: 85px;}
.footer-logo { width: 243px; height: 37px; display: block; margin-top: 83px; }

.company-detail { 
	width: 100%; margin-top: 40px;
	display: flex; justify-content: space-between;
}
.company-detail > p { 
	font-size: 0.35rem; line-height: 33px; color: #333333;
	display: flex; margin-top: auto; font-weight: bold;
}
.slide-books-wrap { display: none;}


.mobile-banner  { display: none;}


.mobile-footer-menu { display: none;}
.mobile-all-menu { display: none;}
/* .mobile-all-menu div { display: none!important;} */
/* .mobile-all-menu { display: none;} */


/* @media (max-width:360px){html{font-size:10px;}} */
@media (max-width:319.5px){html{font-size:10px;}}
@media (min-width:320px) and (max-width:359.5px){html{font-size:10px;}}
@media (min-width:360px) and (max-width:399.5px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439.5px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479.5px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519.5px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559.5px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599.5px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639.5px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679.5px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719.5px){html{font-size:19px;}}
@media (min-width:719.5px) and (max-width:759.5px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799.5px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839.5px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879.5px){html{font-size:23px;}}
@media (min-width:880px) and (max-width:919.5px) {html{font-size:24px;}}
@media (min-width:920px) and (max-width:959.5px) {html{font-size:25px;}}
@media (min-width:960px) and (max-width:999.5px) {html{font-size:26px;}}
@media (min-width:1000px) and (max-width:1039px) {html{font-size:27px;}}
@media (min-width:1040px) and (max-width:1079px) {html{font-size:28px;}}
@media (min-width:1080px) and (max-width:1119px) {html{font-size:29px;}}
@media (min-width:1120px) and (max-width:1159px) {html{font-size:30px;}}
@media (min-width:1160px) and (max-width:1199px) {html{font-size:31px;}}



@media (min-width:650px) and (max-width:1275px) {

	#header { height: 6.6667vw;}
	#top-menu { width: 93.7%; }
	.t-logo { width: 15.3727vw; height: 2.3530vw; }
	.mypage { width: 1.4949vw; height: 1.6816vw; }
	.join { width: 1.9169vw; height: 1.5686vw; }
	.notice { width: 1.4118vw; height: 1.5686vw; }
	.FAQ { width: 1.4118vw; height: 1.4118vw; }
	.cart { width: 1.6471vw; height: 1.5686vw; }
	.ham-menu-bar { width: 2.2878vw; height: 1.8384vw;}
	nav > ul li { margin-right: 2.7545vw;}
	nav > ul { display: flex; align-items: center;}


	.login-btn { 
		border: 0.0784vw solid #dfdfdf; width: 5.2549vw; height: 2.4314vw; 
		border-radius: 1.5686vw;
	}
	nav > ul li:first-child { border-right: 0.0784vw solid #dfdfdf; padding-right: 2.7545vw;}
	

   /* search-menu */


	.search-menu { height: 8.8627vw;}
	.search-bar { width: 93.7%; }


	.search-box { width: 28.7059vw; height: 3.0588vw;}
	.search-box > input { 
		width: 25.4902vw;
		padding: 0 4.3137vw 0 3.1373vw;
	}
	.search-box > button { width: 6.8235vw;}
	.search-img { width: 1.4902vw; height: 1.5294vw;}
	.search-box > input { border-radius: 3.6863vw; border: 0.1961vw solid #DFDFDF;}
	.search-box > button { border-radius: 3.6863vw;}




   /* content 전체 교재 box  */
	.all-text { width: 3.1373vw; height: 2.8235vw;}
	.event { width: 2.9020vw; height: 2.9020vw; }
	.best-seller { width: 2.7788vw; height: 2.8235vw; }
	.new-product { width: 3.0565vw; height: 2.9624vw; }
	.goods { width: 2.5412vw; height: 2.8235vw; }
	.data-room { width: 2.8235vw; height: 2.8235vw; }





	.footer-banner-bar { height: 11.9216vw;}
    .footer-banner { width: 93.7%;}
    .banner { width: 16.6275vw; height: 11.4510vw; margin-top: 0.3922vw;}
    .banner-title { margin: 2.6667vw 0 0 1.8039vw; }
    .banner-title > h2 { margin-bottom: 0.3922vw; }
    .footer-banner > span { margin: 6.4314vw 0 0 4.4706vw; }
    .purchase { 
		width: 16.2353vw; height: 3.7647vw; border-radius: 2.9804vw;
		margin: 4vw 6.5098vw 0 0;
	}
	.purchase > img { width: 1.4118vw; height: 1.4118vw;}
    .company-intro-bar { width: 93.7%; height: 6.2745vw;}
    .logo-intro { width: 15.8431vw;	}
    .bottom-tosel { width: 4.2353vw; height: 1.0980vw;}
    .vertical-line { height: 4.3137vw; width: 0.0784vw; }
    .tosel-lab { width: 6.9020vw; height: 1.0980vw;}
    .tosel-footer-bar { width: 93.7%; padding-bottom: 6.6667vw;}
    .footer-logo { 
        width: 19.0588vw; height: 2.9020vw; display: block; 
        margin-top: 6.5098vw; 
    }
    .company-detail { margin-top: 3.1373vw; }
    .company-detail > p { line-height: 2.5882vw;}

	.fixed-menu { width: 93.7%!important; }
    .fixed-category { height: 6.6667vw; width: 100%; }
    .fixed-menu > section > img { margin-right: 1.0196vw;}
	/* .swiper-slide { width: auto!important;} */

	.all-text-fix { width: 1.6369vw!important; height: 1.6369vw!important;}
	.event-fix { width: 1.6369vw!important; height: 1.6369vw!important; }
	.best-seller-fix { width: 1.4902vw!important; height: 1.4902vw!important; }
	.new-product-fix { width: 1.6196vw!important; height: 1.5686vw!important; }
	.goods-fix { width: 1.3255vw!important; height: 1.6369vw!important; }
	.data-room-fix { width: 1.6369vw!important; height: 1.6369vw!important; }
	.mobile-all-menu div { display: none;}
   .mobile-all-menu {display: none;}
}

/* body { overflow-y: scroll!important;} */



@media screen and (max-width:649px) {


   /* header */
	#header { width: 100%; height: 14.3590vw;}
	#top-menu { 
		width: 91%;
		align-items: center;
	}
	.t-logo { display: none; width: 27.7179vw; height: 4.2513vw;}
	nav { display: none;}

   .tm-logo { display: block !important; width: 15.3846vw; height: 4.1026vw;}

   .mobile-faq-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3000;
      
   }

   .mobile-title {
      position: relative;
      font-size: 1.45rem;
      line-height: 1.5rem;
      
   }




   .mobile-faq-logo, .mobile-bell-log, .logo-box {
      display: flex;
      z-index: 3000;
      position: relative;
   }

   .mobile-bell-log {
      justify-content: right;
   }

   #header, #top-menu {
      position: relative;
   }
	/* .ham-menu { display: none;} */

	
	.bell { 
		width: 5.2128vw; height: 5.7897vw; margin-left: 4.3590vw; 
		display: block !important; cursor: pointer; z-index: 3000;
	}

   .mobile-all-menu {
      display: none;
   }

   .mobile-header {
      display: none;
   }
	/* .slide-wrap { height: 67.1795vw; background: #55d0d5;}
	.slides { width: 94%;}
	.slide-img { display: none;}
	.slide-img-m{display: block!important;} */

	

	.all-text { width: 6.4205vw; height: 5.7795vw;}
	.event { width: 5.7795vw; height: 5.7795vw; }
	.best-seller { width: 5.6410vw; height: 5.6410vw; }
	.new-product { width: 6.3503vw; height: 6.2077vw; }
	.goods { width: 5.4897vw; height: 6.1000vw; }
	.data-room { width: 6.1000vw; height: 6.1000vw; margin-bottom: 0.3128vw;}

	.fixed-menu > .search-box { display: none;}
	.fixed-category { 
		height: 14.3590vw!important; width: 100vw; display: none;
	}
	.fixed-menu > section > span { font-size: 1.3rem;}
	

	.all-text-fix { width: 4.5769vw!important; height: 4.1179vw!important;}
	.event-fix { width: 4.2333vw!important; height: 4.2333vw!important; }
	.best-seller-fix { width: 4.1667vw!important; height: 4.1667vw!important; }
	.new-product-fix { width: 4.1256vw!important; height: 4.1846vw!important; }
	.goods-fix { width: 3.7077vw!important; height: 4.1179vw!important; }
	.data-room-fix { width: 4.1179vw!important; height: 4.1179vw!important; }

	.fixed-menu > section { float: left; width: auto!important; margin-right: 7.6923vw!important; }
	.fixed-menu > section:first-child{ margin-left: 4.6923vw;}
	.fixed-menu { justify-content: start;}




	.mobile-banner { width: 100%; height: 26.1538vw; display: block; cursor: pointer;}
	#footer { width: 100vw; }
	.footer-banner-bar { display: none;}
	.company-intro{ display: none;}

	.tosel-footer-bar { width: 100%; padding-bottom: 20.5128vw;}
	.tosel-footer{ width: 94%; margin: 0 auto;}
	.company-detail { display: block;}
	.company-detail > p { font-size: 0.9rem; line-height: 5vw;}
	.l-intro { margin-bottom: 5.3846vw; }
	/* #wrap { overflow-x: hidden;} */

	.footer-logo { width: 36.3846vw; height: 5.8718vw; margin-top: 8.7179vw;}

	.mobile-footer-menu { 
		position: fixed; width: 100%; bottom: 0; left: 0;
		height: 17.7500vw; display: flex; z-index: 99; border-radius: 20px 20px 0px 0px;
		background: #FBFBFB; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		justify-content: space-around; align-items: center;
	}

	.mobile-footer-menu > img { cursor: pointer; }

	.m-ham { width: 6.5923vw; height: 5.2744vw;}
	.m-user { width: 5.7538vw; height: 6.4718vw;}
	.m-home { width: 5.8256vw; height: 6.4718vw;}
	.m-faq { width: 6.4718vw; height: 6.4718vw;}
	.m-cart { width: 6.7974vw; height: 6.9231vw;}

	/* #book-shop { border: 1px solid green;} */




	.mobile-all-menu { 
		position: fixed; top: 0; left: 0; width: 0%; height: 100%; 
		z-index: 999; transition: all 0.5s; overflow-y: scroll;
		display: block!important;
	}
	/* .mobile-all-menu div{ display: none;} */
	.mobile-header { 
		width: 100%; height: 14.3590vw; background: #fff;
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07); position: fixed;
		top: 0; left: 0;
	}
	.m-logo { width: 15.3846vw; height: 3.9949vw;}


  

	.m-close { width: 4.6154vw; height: 4.6154vw; cursor: pointer;}

	.mobile-header-items { 
		width: 91%; height: 100%;  margin: 0 auto;
		display: flex; justify-content: space-between; align-items: center;
	}

	.mobile-ne { height: 200.4872vw; margin-top: 14.5vw;}

	.all-cate { width: 33.5231vw; height: 5.1282vw; margin: 7.4359vw 0 4.7282vw 0;}
	.mobile-con { width: 91%; margin: 0 auto;}
	.mobile-slide-menu { 
		width: 100%; padding-bottom: 3.5897vw;
		display: flex!important; flex-wrap: wrap; justify-content: space-between;
	}

	.mobile-slide-menu > section { 
		width: 27.1795vw; height: 22.3077vw; border-radius: 4.1026vw;
		border: 0.6410vw solid #dfdfdf; margin-bottom: 4.1026vw;
		display: flex!important; flex-direction: column; justify-content: space-around;
		align-items: center; cursor: pointer;
	}
	.mobile-slide-menu > section > span { font-size: 1.27273rem; margin-bottom: 3.0769vw; font-weight: 600;}
	.mobile-slide-menu > section > img { margin-top: 1.7949vw; }


	.mobile-menu-allText { width: 6.4205vw; height: 5.7795vw;}
	.mobile-menu-event { width: 5.7795vw; height: 5.7795vw;}
	.mobile-menu-bestSeller { width: 5.6410vw; height: 5.6410vw; margin-top: 2.3077vw!important;}
	.mobile-menu-newProduct { width: 6.4103vw; height: 6.2077vw;}
	.mobile-menu-goods { width: 5.4897vw; height: 6.1vw;}
	.mobile-menu-dataRoom { width: 6.1vw; height: 6.1vw;}

	.mobile-nav { width: 100%; border-top: 0.2564vw solid #EC5937 }
	.mobile-nav > ul li { 
		display: flex; align-items: center; 
		padding: 4.8718vw 0; border-bottom : 0.2564vw solid #dfdfdf;
	}
	/* .mobile-nav > ul li > img { border: 1px solid blue;} */
	.mobile-nav > ul li a { font-size: 1.27273rem; color: #EC683D;}
	.mobile-nav > ul { width: 100%; margin: 0 auto;}

	.mobile-user { width: 5.1154vw; height: 5.7538vw; margin-right: 6.6795vw; margin-left: 5vw;}
	.mobile-bell { width: 5.1795vw; height: 5.7538vw; margin-right: 6.6154vw; margin-left: 5vw;}
	.mobile-faq { width: 5.6410vw; height: 5.6410vw; margin-right: 6.4103vw; margin-left: 5vw; }
	.mobile-cart { width: 6.0410vw; height: 6.1538vw; margin-right: 5.7667vw; margin-left: 4.5vw;}
	.mobile-join { width: 6.9231vw; height: 5.6641vw; margin-right: 4.6154vw;margin-left: 5vw;}


	.mobile-login { 
		width: 37.1795vw; height: 12.0513vw; border-radius: 7.6923vw;
		border: 0.6410vw solid #DFDFDF; background: #FFFFFF; color: #333;
		display: flex!important; justify-content: center; align-items: center; font-weight: bold;
		font-size: 1.4rem; margin: 7.2vw auto 50vw auto; cursor: pointer;
	}
	.recent-box { bottom: 23vw; right:5.6863vw; }
	
}














@media screen and (max-width: 1275px) {
	
	 
	 
  
	 
	 

}


@media screen and (max-width: 650px) {
	
   
  
}


.l-intro, .r-intro {
   white-space: pre-wrap;
}