@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


* { margin: 0px; padding: 0px; 
   box-sizing: border-box; 
   font-family: NanumSquare;
   list-style-type: none; text-decoration: none;
}


html,body { width: 100%; height: 100%; font-size: 32px; color: #333333; overflow-x: visible;}


/* blind */

.blind { position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden; }



#wrap { width: 100%; height: 100%;}

/* header */


#header { 
   width: 100%; height: 102px; margin: 0 auto; background: #FDFDFD;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
}

#top-menu { 
   width: 37.34rem; margin: 0 auto; height: 100%; display: flex;
}


input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

input, textarea, button { appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }

textarea {
   resize: none;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer; 
}

a {
    text-decoration: none; 
    outline: none;
    color: inherit; 
}

a:hover, a:active, a:visited{
    text-decoration: none; 
    color: inherit;
}




#content { width: 100%;}



#container {  
   color: #333333;
   margin: 0 auto;
}

#header, .mobile-all-menu, #footer, .mobile-footer-menu {
   display: none;
}



/* path-bar */

.path-section, .path-bar, .order-menu, .event-banner, .page-direction-position,
.book-tcontent, .book-img, .book-description, .about-tosel, .more-series,
.ask-product, .table-section
 {
   min-width: initial;
   width: 100%;
   margin: 0 auto;
}

.path-bar {
   width: 100%;
   margin: 0 auto;
   padding-top: 0.78rem;
   display: flex;
   align-items: center;
   border-top: 0.03rem solid #C4C4C4;
}

.path-bar a {
   display: inline-block;
   color: #333333;

}
.path-bar p {
   margin-right: 0.25rem;
   font-size: 0.50rem;
   line-height: 0.56rem;
   color: #333333;
}

/* .path-bar img {
   margin-right: 0.25rem;
   display: inline-block;
   width: 0.25rem;
   height: 0.44rem;
} */

.path-mark {
   margin-right: 0.25rem;
   display: inline-block;
   width: 0.25rem;
   height: 0.70rem;
   background: url(../static/detail-page/path-mark.png) no-repeat;
   background-size: 0.25rem 0.44rem;
   background-position: center 49%;
}


/* order-bookbox */

.order-menu-box {
   width: 37.34rem;
   margin: 0 auto;
   display: flex;
   margin-top: 0.78rem;
}


.order-menu-box {
   margin-bottom: 1.88rem;
}


.main-bookbox {
   width: 14.31rem;
   height: 18.63rem;
}

.main-bookbox > img {
   width: 100%;
}


.order-info {
   width: 21.38rem;
   margin-left: 1.69rem;
}

.order-title {
   padding-left: 2.19rem;
   padding-bottom: 0.72rem;
   background: url(../static/detail-page/bookinfo-vectimg.png) no-repeat;
   background-size: 1.45rem 1.70rem;
   background-position: top 0px left 0px; 
   border-bottom: 0.06rem solid #EC5937;
}

.book-title {
   font-weight: 800;
   font-size: 0.88rem;
   line-height: 1.00rem;
}

.book-level {
   font-weight: bold;
   font-size: 0.75rem;
   line-height: 0.84rem;
}

.order-list-area {
   padding-top: 1.28rem;
}

.order-list-area > li {
   display: flex;
   padding-bottom: 1.41rem;
}

.line-through {
   text-decoration: line-through;
}

.Litem {
   width: 4.06rem;
   font-weight: bold;
   font-size: 0.56rem;
   line-height: 0.63rem;
}



.Ritem {
   padding-left: 1.28rem;
   font-weight: normal;
   font-size: 0.56rem;
   line-height: 0.63rem;
}

.Ritem .sale-rate {
   font-weight: normal;
   font-size: 0.63rem;
   line-height: 0.75rem;
   color: #EC5937;
   margin-right: 0.28rem;
}

.sale-price {
   font-weight: normal;
   font-size: 0.75rem;
   line-height: 0.88rem;
   margin-right: 0.13rem;
}

.won {
   font-weight: normal;
   font-size: 0.44rem;
   line-height: 0.53rem;
}

.delibery-caution {
   margin-top: 0.25rem;
   font-size: 0.44rem;
   line-height: 0.5rem;
   color: #EC5937;
}

.order-list-area {
   border-bottom: 1px solid#C4C4C4;
   margin-bottom: 0.72rem;

}

/* select-option */


.select-option {
   margin-bottom: 0.72rem;
}



.selectBox * { box-sizing: border-box; }
.selectBox {
   position: relative;
   width: 100%;
   height: 2.03rem;
   border-radius: 0.47rem;
   cursor: pointer;
   background-color: #FDFDFD;
}



.selectBox .label {
   display: flex;
   position: relative;
   align-items: center;
   width: inherit;
   height: inherit;
   border: 0 none;
   outline: 0 none;
   background: #FDFDFD;
   cursor: pointer;
   padding: 0.47rem;
   padding-left: 0.78rem;
   font-weight: normal;
   font-size: 0.56rem;
   line-height: 0.66rem;
   z-index: 3001;
   background: url(../static/faq/faq-open.png) calc(100% - 16px) center no-repeat;
   background-size: 0.63rem;
   border-radius: 0.47rem;
   transition: 100ms;
   border: 0.08rem solid #E8E8E8;;
}

.selectBox.active .label{
   transition: 100ms;
   background: url(../static/faq/faq-close.png) calc(100% - 16px) center no-repeat;
   background-size: 0.63rem;
   background-color: #FDFDFD;
}

.selectBox .optionList {
   position: absolute;
   top: 0px;
   left: 0;
   width: 100%;
   list-style-type: none;
   padding: 0;
   overflow: hidden;
   max-height: 0;
   /* transition: .3s ease-in; */
   z-index: 3000;
   background: #FDFDFD;
   border-radius: 0.47rem;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
}

.selectBox.active .optionList {
  max-height: 15.63rem;
  z-index: 3000;
  /* border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px; */
}

.selectBox .optionItem {
    /* border-bottom: 1px dashed rgb(170, 72, 72); */
    width: 100%;
    height: 100%;
    /* transition: .1s; */
    background-size: 0.63rem;
    cursor: pointer;
    background-color: #FDFDFD;
    padding: 0.47rem;
    padding-left: 0.78rem;
    font-weight: normal;
    font-size: 0.56rem;
    line-height: 1.34rem;
    z-index: 3000;
    
}


.selectBox .optionItem:first-child {
   padding-top: 3.03rem;
   width: 100%;
   padding-bottom: 0.47rem;
   height: 100%;;
}

.selectBox .optionItem:last-child {
   width: 100%;
   padding-bottom: 0.78rem;
   height: 100%;;
}

/* .selectBox .optionItem:nth-child(1) {
   border-radius: 20px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;   
}

.optionItem:nth-child(1):hover ~ .selectBox.active .optionList {
   background: rgba(14, 14, 14, 0.036);
}



.selectBox .optionItem:last-child {
   border-radius: 20px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   
} */


.selectBox .optionItem:hover {
  background: #F3F3F3;
}


.selectBox .optionList::-webkit-scrollbar {width: 0.19rem;}
.selectBox .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 1.41rem;}
.selectBox .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}









.button-set {
   display: flex;
   justify-content: space-between;
}


/* amount-box */

.amount-box { 
   width: 100%; height: 100%; 
   display: flex; justify-content: space-between; align-items: center;
}

.amount-check { 
   width: 3.28rem; height: 2.16rem; border: 0.06rem solid #C4C4C4; border-radius: 0.31rem;
   display: flex;
  border-top-right-radius: 0.47rem;
  border-bottom-right-radius: 0.47rem; 
  border-right: 0px;
}

.amount-num {
  width: 2.34rem;
   height: 2.16rem;
}
.plus-minus-box {
  width: 0.94rem;
  margin-top: -0.06rem;
  margin-bottom: -0.06rem;
  background: #EC5937 url(../static/btn-amount.png) no-repeat center center;
  background-size: contain;
  border-radius: 0.31rem;
  /* background: #ffffff url("gradient_bg.png") no-repeat right top; */
}


.amount-check > div:last-child { border-right: none;}


.sign { 
   display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
   background: transparent;
  width: 100%;
  height: 50%;
}

.amount-num { font-size: 0.5rem!important; text-align: right; line-height: 0.78rem;}
.amount-num > input { 
   display: block; margin-right: 0.09rem; color: #333333;
   width: 100%; height: 100%; border: none; outline: none;
   
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] { box-sizing: border-box; padding: 0.63rem; text-align:right; font-weight: normal;
font-size: 0.56rem;
line-height: 0.63rem;
background: transparent;}

.add-cart > button, 
.go-buy > button {
   width: 8.41rem;
   height: 2.16rem;
   border-radius: 0.47rem;
   font-weight: 800;
   font-size: 0.69rem;
   line-height: 0.78rem;
   text-align: center;
   border: none;
}

.add-cart > button {
   border: 0.06rem solid #EC5937;
   color: #EC5937;
   background: #FDFDFD;
}

.go-buy > button {
   background: #EC5937; 
   color: #FDFDFD;
   margin-left: 0.63rem;
}



/* event-banner */


.event-banner {
   background: #EC683D;
}

.event-banner-box {
   width: 37.34rem;
   height: 4.75rem;
   margin: 0 auto;

}

.event-banner-box img {
   width: 100%;
}

/* .page-direction-position */

.page-direction-position {
   position: sticky;
   top: 0;
   box-shadow: 0px 3px 3px rgba(0, 0, 0, 7%);
   border-bottom: 0.06rem solid #EC5937;
   background: #FDFDFD;
   transition: transform 400ms ease-in-out 400ms;
   z-index: 99;
}

.page-direction-box {
   display: flex;
   width: 37.34rem;
   height: 2.28rem;
   margin: 0 auto;
   justify-content: space-between;
}


.page-box {
   color: #333333;
   background: #F3F3F3;
   font-weight: bold;
   font-size: 0.50rem;
   line-height: 0.56rem;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.active-box {
   background: #EC5937;
   color: #FDFDFD;
}


.detail-page-box {
   width: 2.44rem;
   height: 100%;
}

.faq-page-box {
   width: 2.50rem;
   height: 100%;
}

.question-page-box {
   width: 2.84rem;
   height: 100%;
}

.shipment-page-box {
   width: 4.16rem;
   height: 100%;
}

.order-page-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 24.59rem;
   background: #F3F3F3;
}

.order-page-title {
   width: 5.84rem;
}

.page-book-title {
   font-weight: 800;
   font-size: 0.56rem;
   line-height: 0.63rem;
   text-align: right;
}

.page-book-level {
   font-weight: bold;
   font-size: 0.44rem;
   line-height: 0.50rem;
   text-align: right;
}


.order-page-box .bar {
   display: inline-block;
   margin: 0 0 0px 0.94rem;
   width: 0.03rem;
   height: 1.5rem;
   background: #DFDFDF;
}



.page-book-price {
   font-weight: 800;
   font-size: 0.69rem;
   line-height: 0.78rem;
   /* identical to box height */
   
   color: #EC5937;
}


.page-add {
   width: 4.59rem;
   height: 1.50rem;
   font-weight: bold;
   font-size: 0.56rem;
   line-height: 0.63rem;
   color: #EC5937;
   background: transparent;
   border-radius: 0.31rem;
   border: 0.06rem solid #EC5937;
}

.page-buy {
   width: 4.59rem;
   height: 1.50rem;
   border: none;
   color: #FDFDFD;
   background: #EC5937;
   border-radius: 0.31rem;
   font-weight: bold;
   font-size: 0.56rem;
   line-height: 0.63rem;
}

.order-page-box .amount-check {
   width: 2.31rem;
   height: 1.5rem;
   background: #FDFDFD;
}


.order-page-box .amount-num {
   width: 1.66rem;
   height: 100%;

}

.order-page-box .amount-num input {
   width: 100%;
   height: 100%;
   font-size: 0.56rem;
   padding: 0rem 0.2rem 0rem 0.1rem;
   line-height: 0.03rem;
}

.order-page-box .plus-minus-box {
   width: 0.66rem;
   height: 1.5rem;
}

/* book-tcontent */
.path-bar,
.book-description > div,
.book-tcontent > div,
.event-banner > div,
.page-direction-position > div,
.book-tcontent > div {
   width: 37.34rem;
   margin: 0 auto;
}





.book-tcontent {
   margin-bottom: 2.34rem;
}

.book-tbox {
   border-bottom: 0.03rem solid #C4C4C4;
   padding: 1.25rem 3.91rem 1.13rem;
}

.bcontent-title {
   font-weight: bold;
   font-size: 0.75rem;
   line-height: 0.84rem;
   margin-bottom: 1.09rem;
}

.bcontent-item {
   font-weight: normal;
   font-size: 0.5rem;
   line-height: 0.56rem;
   white-space:pre;
   word-break: keep-all;
   height: 8.13rem;
   overflow: hidden;
   transition: 50ms;
}



.bcontent-btndesign {
   display: flex;
   justify-content: right;
   font-weight: normal;
   font-size: 0.5rem;
   line-height: 0.56rem;
   color: #EC683D;
   cursor: pointer;
}


.bcontent-close {
   display: none;
   text-align: right;
}

.toggleClass {
   display: flex !important;
}



.bcontent-open::after {
   display: inline-block;
   content: '';
   width: 0.38rem;
   background: url(../static/detail-page/open-content.png) no-repeat 0px 50%;
   background-size: 0.38rem 0.19rem;
   margin-left: 0.16rem;
   
   
}


.bcontent-close::after {
   display: inline-block;
   content: '';
   width: 0.38rem;
   background: url(../static/detail-page/close-content.png) no-repeat 0px 50%;
   background-size: 0.38rem 0.19rem;
   margin-left: 0.16rem;
}




/* book-img */

.book-mookupimg {
   display: block;
   width: 37.34rem;
   height: 27.97rem;
   margin: 0 auto;
   margin-bottom: 1.09rem;
}



.book-desbox {
   height: 69.69rem;
   overflow: hidden;
   margin-bottom: 3.13rem;
}

.height-full {
   height: 100%;
}


.book-description > .book-infobox {
   border-bottom: 0.05rem solid #C4C4C4;
}

.book-informationimg {
   display: block;
   /* width: 29.22rem;
   height: 69.69rem; */
   margin: 0 auto;
}

.more-bookinfo {
   display: block;
   font-weight: 800;
   border: none;
   background: #fff;
   margin: 0 auto;
   font-size: 0.69rem;
   line-height: 0.78rem;
   border-radius: 0.47rem;
   border:0.06rem solid #EC5937;
   width: 7.28rem;
   height:2.16rem;
   color: #EC5937;
   margin: 0 auto;
   margin-bottom: 1.88rem;;
   background: url(../static/detail-page/open-bookinfo.png) no-repeat;
   background-size: 0.75rem 0.75rem;
   background-position: top 47% right 12%;
   text-align: center;
   padding-top: 0.56rem;
   text-indent: -0.31rem;

   
}

.more-bookinfo.back {
   display: none;
   font-weight: 800;
   border: none;
   background: #fff;
   font-size: 0.69rem;
   line-height: 0.78rem;
   border-radius: 0.47rem;
   border:0.06rem solid #EC5937;
   width: 7.28rem;
   height:2.16rem;
   color: #EC5937;
   margin: 0 auto;
   margin-bottom: 1.88rem;;
   background: url(../static/detail-page/close-bookinfo.png) no-repeat;
   background-size: 0.75rem 0.75rem;
   background-position: top 47% right 12%;
}

/* .more-bookinfo::after {
   content: '';
   display: inline-block;
   width: 0.75rem;
   height: 0.75rem;
   background: url(../static/detail-page/open-bookinfo.png) no-repeat 0px 70%;
   background-size: 0.75rem 0.75rem;
   margin-left: 5px;
   margin-top: 5px;
} */



/* about-tosel */

.about-tosel > div {
   width: 37.34rem;
   margin: 0 auto;
   border-bottom: 0.05rem solid #C4C4C4;
}


.about-tosel > .about-box {
   padding: 1.72rem 2.03rem 1.75rem;
}

.about-tosel > div > p {
   width: 32.81rem;
}

.about-title {
   font-weight: bold;
   font-size: 0.75rem;
   line-height: 0.84rem;
   margin-bottom: 1rem;
}



.about-test {
   font-weight: normal;
   font-size: 0.56rem;
   margin-bottom: 1rem;
   white-space: pre-wrap;
   word-break: break-all;
}

.about-ability {
   font-weight: normal;
   font-size: 0.56rem;
   white-space: pre-wrap;
   word-break: break-all;

}


/* book-series */

.more-series-box {
   width: 37.34rem;
   height: 100%;
   margin: 0 auto;
   padding: 1.56rem 0px 2.19rem 0px;
   border-bottom: 0.05rem solid #C4C4C4;
}

.series-title {
   text-indent: 2.03rem;
   font-weight: bold;
   font-size: 0.75rem;
   line-height: 0.84rem;
   margin-bottom: 1.78rem;
}


.btn-left, .btn-right {
   position: relative;
   z-index: 999;
   width: 0.75rem;
   height: 0.75rem;
   border: 0.03rem solid tomato;
}

.btn-left {
   background: url(../static/detail-page/slide-left.png) no-repeat;
   background-size: contain;
}

.btn-right {
   background: url(../static/detail-page/slide-right.png) no-repeat;
   background-size: contain;
}



.book-slide-box, .slide-show-box, .slide-show-area {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.book-slide-box {
   position: relative;
   padding: 0px 2.75rem; 
   height: 8.13rem;
}





.slide-show-area {
   width: 28.63rem;
   height: 100%;
   overflow: visible;
}

.move-book {
   display: block;
   width: 100%;
   height: 100%;
}

.book-component {
   text-align: center;
}

.book-component + .book-component {
   margin-left: 1.75rem;
}


.book-link {
   display: block;
   width: 100%;
   height: 100%;
}


.book-component p {
   width: 4.06rem;
   padding: 0 0.16rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.series-level {
   font-weight: normal;
   font-size: 0.5rem;
   line-height: 0.56rem;
}

.series-btitle {
   font-weight: 800;
   font-size: 0.5rem;
   line-height: 0.59rem;
}

.series-text {
   font-weight: normal;
   font-size: 0.38rem;
   line-height: 0.47rem;
}

.series-img {
   width: 4.31rem;
   height: 5.63rem;
   filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.07));
}



/* ask-product */

.ask-box {
   width: 37.34rem;
   margin: 0 auto;
   padding: 1.88rem 0; 
   margin-bottom: 1.88rem;
   border-bottom:0.06rem solid #C4C4C4;
}

.ask-area {
   width: 33.31rem;
   margin: 0 auto;
}

.ask-title {
   margin-bottom: 0.63rem;
}

.text-area {
   width: 33.31rem;
   height: 10.25rem;
   background: #F3F3F3;
   margin-bottom: 0.63rem;
   
   
}

.text-box {
   width: 100%;
   height: 100%;
   border: none;
   background: transparent;
   padding: 0.81rem;
   font-size: 0.56rem;
   line-height: 0.63rem;
   
   
}

.ask-text {
   font-weight: bold;
   font-size: 0.44rem;
   line-height: 0.50rem;
   color: #EC5937;
}


.ask-text.top {
   margin-bottom: 0.31rem;
}

.ask-text.bottom {
   margin-bottom: 0.63rem;
}

.ask-btn {
   display: block;
   width: 7.28rem;
   height:2.16rem;
   margin: 0 auto;
   border:0.06rem solid #EC5937;
   box-sizing: border-box;
   border-radius: 0.47rem;
   font-weight: 800;
   font-size: 0.69rem;
   line-height: 0.78rem;
   /* identical to box height */
   
   text-align: center;
   background: transparent;
   color: #EC5937;
}

/* table-section */


.table-section {
   margin-bottom: 5.00rem;
}
.table-box {
   width: 35.09rem;
   padding-top: 1.88rem;
   margin: 0 auto;

}


.table-title {
   font-weight: bold;
   font-size: 0.75rem;
   line-height: 0.84rem;
   text-indent: 0.94rem;
   margin-bottom: 0.47rem;
}

table td {
   display: table-cell;
   border-collapse:collapse;
   border-spacing:0;
   border-bottom:0.06rem solid #DFDFDF;

}



.table-area {
   display: block;
   width: 100%;
   border-top:0.06rem solid #EC5937;
   border-collapse: collapse;
	border-spacing: 0;
}


.table-litem {
   width: 6.88rem;
   text-align: center;
   font-weight: normal;
   font-size: 0.56rem;
   line-height: 0.63rem;
   background: #F3F3F3;
   padding: 0.94rem 0px;
}

.table-ritem {
   width: 28.13rem;
   font-weight: normal;
   font-size: 0.50rem;
   line-height: 150%;
   padding: 0.94rem 1.41rem 0.94rem 1.41rem;
   word-break: break-all;
}


.tablem-design {
   display: flex;
   font-weight: normal;
   font-size: 0.44rem;
   line-height: 141%;
   /* identical to box height, or 20px */
   
   
   color: #EC5937;
}

.tablem-design div,
.tablem-design span {
   margin-right: 0.16rem;

}

/* #footer { width: 100%; height: 585px; background: cadetblue; } */


/* slide custom */


.swiper-slide {
   text-align: center;
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }

 .swiper {
   width: 100%;
   height: 100%;
 }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
   opacity: 1;
}

.btn-left, .btn-right{
   position: static;
   border: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
   content: none;
   font-size: inherit;
   
}


/* popup-section*/


.popup-section {
   position: relative;
   z-index: 9999;
}

.popup {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   text-align: center;
}

.popup:after {
   display: inline-block;
   vertical-align: middle;
   width: 0;
   height: 100%;
   content: '';
}

.popup-layer {
   position: relative;
   display: inline-block;
   width: 13.69rem;
   height: 7.00rem;
   padding: 1.88rem 2.75rem 0.94rem;
   background: #FDFDFD;
   z-index: 99999999;
   border-radius: 0.63rem;
}


.popup-area {
   position: relative;
   /* padding: 50px 30px 30px; */
   text-align: center;
   margin-bottom: 0.56rem;
}

.popup-text {
   font-size: 0.56rem;
   line-height: 0.63rem;
   color: #333333;
   margin-bottom: 0.44rem;
}

.popup-title {
   font-size: 0.63rem;
   line-height: 0.72rem;
   color: #333333;
}

/* 
.popup-btn {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height: 1.88rem;
   overflow: hidden;
} */

.popup-btn {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.move-btn {
   width: 3.13rem;
   height: 1.88rem;
   font-size: 0.56rem;
   border: 0;
}

.move-btn.cancel {
   color: #EC683D;
}

.btn-bar {
   width: 1px;
   height: 0.69rem;
   background: #DFDFDF;
}

.popup-dimmed {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: #000;
   opacity: 0.3;
}


/* @media (min-width:1160px) and (max-width:1199px) {html{font-size:31px;}}
@media (min-width:1120px) and (max-width:1159px) {html{font-size:30px;}}
@media (min-width:1080px) and (max-width:1119px) {html{font-size:29px;}}
@media (min-width:1040px) and (max-width:1079px) {html{font-size:28px;}}
@media (min-width:1000px) and (max-width:1039px) {html{font-size:27px;}}
@media (min-width:960px) and (max-width:999px) {html{font-size:26px;}}
@media (min-width:920px) and (max-width:959px) {html{font-size:25px;}}
@media (min-width:880px) and (max-width:919px) {html{font-size:24px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:768px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:720px) and (max-width:768px){html{font-size:20px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media screen and (max-width:399px){html{font-size:11px;}}
@media screen and (max-width:359px){html{font-size:10px;}}
@media screen and (max-width:319px) {html{font-size:9px;}}
@media screen and (max-width:289px){html{font-size:8px;}}   */

@media screen and (max-width: 1275px) {
   html {
      font-size: 2.5098vw;
   }
}


/* @media screen and (max-width: 390px) {
   html {
      font-size: 10px;
   }
} */

@media screen and (max-width: 320px) {
   html {
      font-size: 8px;
   }
}




@media screen and (max-width: 650px) {
   #wrap {
      min-width: 320px;
   }
   #header, .mobile-all-menu, #footer, .mobile-footer-menu {
      display: none;
   }
   .path-section, .order-menu, .event-banner, .page-direction-position,
.book-tcontent, .book-img, .book-description, .about-tosel, .more-series,
.ask-product, .table-section {
   width: 100%;
   min-width: initial;
}

.book-description > div,
.book-tcontent > div,
.event-banner > div,
.page-direction-position > div,
.book-tcontent > div {
   width: 100%;
}



   .path-section {
      margin-bottom: 3.09rem;
      padding-left: 1.82rem;
   }

   .path-bar {
      width: 100%;
      margin: 0 auto;
      padding-top: 0.78rem;
      display: flex;
      align-items: center;
      border: none;
   }



   .path-bar a {
      color: #FDFDFD;
   }
   .path-bar p {
      margin-right: 0.25rem;
      font-size: 1.27rem;
      line-height: 1.45rem;
   }

   .path-mark {
      /* margin-right: 0.25rem; */
      width: 1.82rem;
      height: 1.55rem;
      background: url(./detail-page/m-path-mark.png) no-repeat;
      background-size: 1.82rem 1.45rem;
   }


	.order-menu {
      width: 100%;
      background: url(../static/detail-page/m-backbook-img.png) no-repeat;
      background-size: 100% 32.82rem;    
      padding-top: 1.45rem;  
   }

   .order-menu > .order-memu-box {
      width: 100%;
      display: block;
   }

   .order-menu > .m-menu-box{
      width: 100%;
      display: block;
   }



   .main-bookbox {
      margin: 0 auto;
      width: 12.55rem;
      height: 16.27rem;
      margin-bottom: 2.27rem;
   }

   .order-info {
      width: 100%;
      margin: 0;
   }

   .order-title {
      text-align: center;
      background: none;
      padding: 0;
      border: none;
   }


   .book-title {
      font-size: 1.82rem;
      line-height: 2.09rem;
      color: #FDFDFD;
      font-weight: bold;
      margin-bottom: 0.55rem;
   }

   .book-level {
      font-size: 1.64rem;
      line-height: 2.09rem;
      color: #FDFDFD;
      margin-bottom: 3rem;

   }

   
   /* order-list */

   .order-list {
      border: none;
   }
   .order-list-area {
      border: none;
      padding-left: 1.82rem;
      padding-top: 2.27rem;
      margin-bottom: 2.27rem;
      
   }

   
   .order-list-area > li {
      display: flex;
      padding: 1rem 0;
   }
   
   .line-through {
      text-decoration: line-through;
   }
   
   .Litem {
      width: 11.82rem;
      font-weight: bold;
      font-size: 1.27rem;
      line-height: 1.45rem;
   }
   
   
   
   .Ritem {
      padding-left: 0;
      font-size: 1.27rem;
      line-height: 1.45rem;
      width: 19.18rem;
      word-break: break-all;
      line-height: 1.91rem;
   }


   
   .Ritem .sale-rate {
      font-size: 1.09rem;
      line-height: 1.27rem;
      margin-right: 0.45rem;
   }
   
   .sale-price {
      font-size: 1.64rem;
      line-height: 1.91rem;
   }
   
   .won {
      font-size: 0.91rem;
      line-height: 1.09rem;
   }
   
   .delibery-caution {
      display: none;
   }


   /* select-option */

   .select-option {
      display: none;
      position: fixed;
      bottom: 0;
   }

   /* button-set */

   .button-set {
      display: none;
      position: fixed;
   }
   

   /* event-banner */
   .event-banner {
      display: none;
   }

   /* page-direction-position */

   .page-direction-position {
      position: static;
      width: 100%;
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
      background: transparent;
      border-bottom: 0.18rem solid #EC5937;
   }

   .page-direction-position > div {
      width: 31.73rem;
      height: 3.73rem;
   }

   .page-box {
      font-size: 1.09rem;
      line-height: 3.73rem;
   }

   .detail-page-box {
      width: 6.73rem;
      height: 100%;
   }
   
   .faq-page-box {
      width: 6.73rem;
      height: 100%;
   }
   
   .question-page-box {
      width: 7.27rem;
      height: 100%;
   }
   
   .shipment-page-box {
      width: 10.18rem;
      height: 100%;
   }

   .order-page-box {
      display: none;
   }

   /* book-tcontent */

   .book-tcontent {
      margin-bottom: 1.82rem;
   }

   .book-tbox {
      border-bottom: 0.09rem solid #C4C4C4;
      padding: 1.82rem 1.82rem 1.13rem;
   }

   .bcontent-title {
      font-weight: bold;
      font-size: 1.64rem;
      line-height: 1.82rem;
      margin-bottom: 1.82rem;
   }

   .bcontent-item {
      font-size: 1.09rem;
      line-height: 2.00rem;
      height: 16.00rem;
   }


   /* book-img*/

   .book-mookupimg {
      width: 100%;
   }

   /* book-desbox */
   .book-desbox {
      width: 27.73rem;
      margin: 0 auto;
   }


   /* about-tosel */

   .about-tosel > div {
      width: 100%;
      border-bottom: 0.09rem solid #C4C4C4;
   }

   .about-tosel > .about-box {

      padding: 2.73rem 1.82rem;
   }

   .about-title {
      font-size: 1.27rem;
      line-height: 1.45rem;
   }

   .about-test, .about-ability {
      font-size: 1.09rem;
      white-space: normal;
      line-height: 172%;

   }

   .about-test {
      margin-bottom: 2.09rem;

   }


   /* more-series */

   .btn-left, .btn-right {
      display: none;
   }

   .book-slide-box {
      padding: 0;
      width: 100%;
   }

   .book-component {

   }


   .series-img {

   }

   /* ask-product */
   .ask-box {
      width: 100%;
      padding: 2.73rem 1.82rem;
   }

   .ask-area {
      margin: 0;
      width: 100%;
   }

   .ask-title {
      font-weight: bold;
      font-size: 1.27rem;
      line-height: 1.45rem;
      margin-bottom: 1.82rem;
   }

   .text-area {
      width: 100%;
      height: 28.45rem;
      margin-bottom: 2.45rem;
   }

   .text-box {
      padding: 1.82rem;
   }

   .ask-text {
      display: none;
   }

   .ask-btn {
      width: 23.64rem;
      height: 3.73rem;
      font-size: 1.27rem;
      line-height: 1.45rem;
      border-radius: 1rem;
   }


   /* table-section */

   .table-title {
      font-size: 1.27rem;
      line-height: 1.45rem;
      text-indent: 0;
      margin-bottom: 0.91rem;
   }

   .table-area {
      border-top: 0.18rem solid #EC5937;
   }

   .table-litem {
      width: 11.5rem;
      font-size: 1.18rem;
      font-weight: bold;
   }


   .table-ritem {
      width: 21.18rem;
      font-size: 1.27rem;
      line-height: 150%;
      padding: 0.91rem 2.09rem;
   }

   .table-refund .table-ritem {
      font-size: 1.09rem;
      padding-right: 1.82rem;
      word-break: break-all;
   }

   .tablem-design span {
      display: none;
   }

   .tablem-design {
      display: block;
      width: 14.91rem;
      word-break: break-all;
   }

   .tablem-design div:last-child{
      margin-left: 0.4rem;

   }

   /* mobile-purchase */


   /* .mobile-purchase-box {
      position: relative;
      z-index: 9999;
   } */

   /* .mobile-purchase-box > div {
      position: relative;
      z-index: 9999;
   } */

   .mobile-purchase {
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1.00rem;
      padding-bottom: 3.09rem;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
      border-top: 0.06rem solid #F3F3F3;
      background: #FDFDFD;
      z-index: 9999;
   }

   .mobile-cart {
      width: 4.36rem;
      height: 4.36rem;
      background: url(../static/detail-page/m-purchase-chart.png) no-repeat;
      background-size: contain;
      margin-right: 1.5rem;
      cursor: pointer;
   }

   .mobile-buy {
      width: 28.45rem;
      height: 4.36rem;
      background: #EC5937;
      color: #FDFDFD;
      font-size: 1.45rem;
      border-radius: 0.82rem;
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
      cursor: pointer;
   }
  
}


/* .mobile-purchase {
   display: none;
} */

.l-intro, .r-intro {
   white-space: pre-wrap;
}



