@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


* { margin: 0px; padding: 0px; 
   box-sizing: border-box; 
   font-family: NanumSquare;
   list-style-type: none; text-decoration: none;
}




html,body { width: 100%; height: 100%; font-size: 32px; color: #333333; background-color: #FDFDFD;}


/* blind */

.blind { position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden; }



#wrap { width: 100%; height: 100%; }

/* header */


#header { 
   width: 100%; height: 102px; margin: 0 auto; background: #FDFDFD;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
}

#top-menu { 
   width: 1195px; margin: 0 auto; height: 100%; display: flex;
}

input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

input, textarea, button { appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }


nav {
   display: flex;
   align-items: center;
}

.logo-box { 
   display: flex; 
   align-items: center; 
   height: 100%;
   flex: 1;
}

.mobile-title {
   display: none;
}

.mobile-faq-logo, .mobile-bell-log{
   display: none;
}

.t-logo { 
   width: 196px; height: 30px; display: inline-block; 
   vertical-align: middle; cursor: pointer;
}
.tm-logo { display: none;}


nav { display: flex; align-items: center;}
/* nav > ul li { display: inline-block; cursor: pointer; margin-right: 2.1vw;}
nav > ul li a { 
   color: #333; vertical-align: middle; display: inline-block;
   font-size: 0.45rem;
}

nav > ul li img { vertical-align: middle; display: inline-block; margin-right: 9px;}
.mypage { width: 19.06px; height: 21.44px; }
.notice { width: 18px; height: 20px; }
.FAQ { width: 18px; height: 18px; }
.cart { width: 21px; height: 20px; }

.ham-menu { 
   display: flex; cursor: pointer;
   align-items: center;
}
.ham-menu-bar { width: 29.17px; height: 23.44px;}
 */



#content { width: 100%;}

/* book*/

/* seungbin 수정  */
.fixed-category {
   display: block;
   position: relative !important;
   margin-top: 15px;
   box-shadow:none;

}

/* book*/
.search-bar { 
   width: 1195px; margin: 0 auto; height: 100%;
   display: flex; align-items: center; justify-content: space-between;
}

.compass { width: 350px; height: 43px;}

.search-box { 
   width: 366px; height: 39px; background: #fff; 
   position: relative; border-radius: 47px; outline: none;
}
.search-box > input { 
   width: 325px; outline: none; float: left; height: 100%;
   border: 2.5px solid #DFDFDF; border-radius: 47px;
   padding: 0 55px 0 40px;
}
.search-box > button { 
   width: 87px; height: 100%; border: 1px solid transparent; background: #EC5937;
   outline: none; color: #fff; border-radius: 47px; position: absolute;
   top: 0; right: 0; color: #FFF7EC; font-size: 0.5rem; line-height: 20px;
   cursor: pointer;
}


.search-img { 
   position: absolute; top: 25%; left: 4%; width: 19.5px; height: 19px;
   cursor: pointer;
}


.all-text { width: 40px; height: 36px;}
.event { width: 37px; height: 37px; }
.best-seller { width: 35.43px; height: 36px; }
.new-product { width: 44.65px; height: 46px; }
.goods { width: 32.4px; height: 36px; }
.data-room { width: 36px; height: 36px; }


/* seach-menu */

.search-bar span {
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
}

#page-section {
   background: #fdfdfd;
}
#page-list { 
   width: 1195px ; 
   margin: 0 auto;
   margin-top: 34px;
   color: #333333;
}

/* faq-menu */

.faq-title {
   font-weight: 800;
   font-size: 26px;
   line-height: 30px;
   height: 100%;
   margin-bottom: 29px;
   background-color: #fdfdfd;
   
}


/* faq-seachBox */
.faq-searchBox {
   display: flex;
   justify-content: space-between;
   margin-bottom: 45px;
}



.label {
   border: none;
   
}


.selectBox * { box-sizing: border-box; }
.selectBox {
   position: relative;
   width: 177px;
   height: 53px;
   border-radius: 47px;
   cursor: pointer;
}



.selectBox .label {
   display: flex;
   position: relative;
   align-items: center;
   width: inherit;
   height: inherit;
   border: 0 none;
   outline: 0 none;
   background: #FDFDFD;
   cursor: pointer;
   text-indent: 25px;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   z-index: 3001;
   background: url(../static/faq/faq-open.png) calc(100% - 16px) 49% no-repeat;
   background-size: 23px;
   border-radius: 27px;
   transition: 100ms;
   border: 2.5px solid #DFDFDF;
   padding-top: 4px;
}

.selectBox.active .label{
   transition: 100ms;
   background: url(../static/faq/faq-close.png) calc(100% - 16px) 49% no-repeat;
   background-size: 23px;
   background-color: #fdfdfd;
}

.selectBox .optionList {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   list-style-type: none;
   padding: 0;
   overflow: hidden;
   max-height: 0;
   /* transition: .3s ease-in; */
   z-index: 3000;
   background: #FDFDFD;
   border-radius: 27px;
   box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.07);
}

.selectBox.active .optionList {
  max-height: 500px;
  z-index: 3000;
  /* border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px; */
}

.selectBox .optionItem {
    /* border-bottom: 1px dashed rgb(170, 72, 72); */
    width: 100%;
    height: 100%;
    /* transition: .1s; */
    cursor: pointer;
    background-color: #FDFDFD;
    padding: 17px;
    padding-left: 25px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    z-index: 3000;
}


.selectBox .optionItem:first-child {
   padding-top: 69px;
   width: 100%;
   padding-bottom: 17px;
   height: 100%;;
}


.selectBox .optionItem:last-child {
   width: 100%;
   padding-bottom: 24px;
   height: 100%;;
}

/* .selectBox .optionItem:nth-child(1) {
   border-radius: 20px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;   
}

.optionItem:nth-child(1):hover ~ .selectBox.active .optionList {
   background: rgba(14, 14, 14, 0.036);
}



.selectBox .optionItem:last-child {
   border-radius: 20px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   
} */


.selectBox .optionItem:hover {
  background: #F3F3F3;
}


.selectBox .optionList::-webkit-scrollbar {width: 6px;}
.selectBox .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}


/* faq-search */

.faq-search { 
   width: 1001px; height: 53px; background: #fff; 
   position: relative; border-radius: 47px; outline: none;
}

.faq-search > input { 
   width: 1001px; outline: none; float: left; height: 100%;
   border: 2.5px solid #DFDFDF; border-radius: 47px;
   padding: 0 202px 0 61px;
   font-size: 20px;
   line-height: 24px;
}
.faq-search > button { 
   width: 177px; height: 100%; border: 1px solid transparent; background: #EC5937;
   outline: none; color: #fff; border-radius: 47px; position: absolute;
   top: 0; right: 0; color: #FFF7EC; 
   font-size: 20px;
   line-height: 24px;;
   cursor: pointer;
}



.faqsearch-img { 
   position: absolute; 
   top: 29%;
   left: 2%;
   width: 22.98px;
   height: 23px;
   cursor: pointer;
}


/* faq-arrange */

.faq-arrange {
   position: relative;
   display: flex;
   justify-content: space-between;
   text-align: center;
   /* border-bottom: 4px solid #EC5937; */
}




#arrange-border {
   position: absolute;
   top: 85px;
   width: 100%;
   height: 4px;
   background: #EC5937;
}



.arrange-box {
   display: flex;
   width: 393px;
   height: 85px;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: #F3F3F3;
   cursor: pointer;
}

.arrange-text {
   font-weight: normal;
   font-size: 26px;
   line-height: 30px;
   /* identical to box height */
   
   text-align: center;
   color: inherit;
}


.arrange-active {
   background: #EC5937;
   font-weight: bold;
   color:  #FDFDFD;
}



/* faq-view-point */

.faq-view-point {
   position: relative;
   display: flex;
   align-items: center;
   margin-top: 4px;
   height: 75px;
   border-bottom: 4px solid #F3F3F3;
}

.view-box {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 153px;
   height: 100%;
   /* margin-bottom: -5px; */
   cursor: pointer;
}

.view-text {
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   
}



#vertical-underline {
   position: absolute;
   height: 4px;
   width: 153px;
   background: #EC5937;
   top: 68px;
   transition: 0.5s;
   border-radius: 3px;
   left: 0px;
}


/* .view-active {
   border-bottom: 4px solid #EC5937;
} */

/* faq-section */


.faq-section {
   width: 1195px;
   margin: 0 auto;
   background: #fff;
   margin-bottom: 500px;
}



.faq-box {
   position: relative;
   width: 1195px;
   margin: 0 auto;
   border-bottom: 4px solid #F3F3F3;
}





.faq-question {
   display: flex;
   align-items: center;
   width: 1195px;
   min-height: 130px;
   margin: 0 auto;
   padding: 20px 100px 20px 130px;
}

.question-text {
   width: 960px;
   word-break: break-all;
   font-weight: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 34px;
}

.btn-point {
   position: absolute;
   width: 100px;
   min-height: 130px;
   top:0;
   right: 0;
   border: none;
   cursor:pointer;
   z-index: 9000;
   background: transparent;
}



.question-logo {
   position: absolute;
   width: 34px;
   height: 54px;
   background: url(../static/faq/faq-q-img.png) no-repeat center;
   background-size: contain;
   top: 34px;
   left: 30px;
}

.btn-open, .btn-close{
   width: 2.5098vw;
   height: 1.2549vw;

   top: 4.7059vw;
   right: 2.5098vw;
}

.btn-open {
   position: absolute;
   width: 32px;
   height: 16px;
   background: url(../static/faq/faq-open.png) no-repeat center;
   background-size: contain;
   content: '펼침';
   top: 60px;
   right: 32px;
   border: 0;
   transform: 400ms ease-in-out,opacity 400ms ease-out;
   /* transition: all 0.5s ease-in-out .1s; */
}

.btn-close {
   /* display: none; */
   position: absolute;
   width: 32px;
   height: 16px;
   background: url(../static/faq/faq-close.png) no-repeat center;
   background-size: contain;
   content: '펼침';
   top: 60px;
   right: 32px;
   border: 0;
   transform: 400ms ease-in-out, opacity 400ms ease-out;
   /* transition: all 0.5s ease-in-out .1s; */
}

.faq-answer {
   display: none;
   position:relative;
   background: #F3F3F3;
   padding: 30px 100px 30px 130px;
   width: 100%;
   height: 100%;
   font-size: 16px;
   line-height: 34px;
   /* transform: 400ms ease-in-out, opacity 400ms ease-out;
   transition: all 0.5s ease-in-out .1s; */
}



.answer-text {
   display: flex;
   align-items: center;
   font-weight: normal;
   font-size: 24px;
   line-height: 34px;
   min-height: 100px;
   /* white-space:pre-wrap; */
}


/* #open-btn1:checked ~ .faq-answer,
#open-btn2:checked ~ .faq-answer,
#open-btn3:checked ~ .faq-answer,
#open-btn4:checked ~ .faq-answer,
#open-btn5:checked ~ .faq-answer,
#open-btn1:checked ~ .faq-question .btn-close,
#open-btn2:checked ~ .faq-question .btn-close,
#open-btn3:checked ~ .faq-question .btn-close,
#open-btn4:checked ~ .faq-question .btn-close,
#open-btn5:checked ~ .faq-question .btn-close {
   display: flex;
   align-items: center;
} 


#open-btn1:checked ~ .faq-question .btn-open,
#open-btn2:checked ~ .faq-question .btn-open,
#open-btn3:checked ~ .faq-question .btn-open,
#open-btn4:checked ~ .faq-question .btn-open,
#open-btn5:checked ~ .faq-question .btn-open {
   display: none;
}   */


.faq-open {
   display: flex;
   align-items: center;
}

.faq-close {
   display: none;
}


.faq-pay, .faq-other {
   display: none;
}





/* #footer { width: 100%; height: 585px; background: cadetblue; } */




#paging > ul {
   display: flex;
   align-items: center;
   justify-content: center;
 width: 5.44rem;
 height: 1.19rem;
      list-style-type:none;
 box-shadow: 0px 3px 7px  rgba(0, 0, 0, 0.07);
border-radius: 0.25rem;
padding: 0;
margin: 0;
}
  
  #paging > ul li {
      text-align: center;
      font-size: 0.44rem;
      cursor:pointer;
      padding: 0.31rem 0px;
      color: #EC5937;
    border: 1px solid #EC5937;
    width: 1.19rem;
    height: 1.19rem;
    box-sizing: border-box;
}
  #paging > ul > li:hover {
      /*background: #fbfbfb;*/
      /*font-weight:bold;*/
      opacity: 0.9;
  }
  

  #paging > ul > li.selected {
      color: #FDFDFD;
      font-weight:bold;
      cursor:default;
      background: #EC5937;
  }
  
  #paging > ul > li.next {
      width: 0.94rem;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      background: url(../static/faq/paging-next.png) no-repeat center / contain;
      background-size: 0.47rem 0.63rem;
      
  }

  #paging > ul > li.previous {
      width: 0.94rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      background: url(../static/faq/paging-previous.png) no-repeat center / contain;
      background-size: 0.47rem 0.63rem;
  }






 
@media (min-width:1160px) and (max-width:1199px) {html{font-size:31px;}}
@media (min-width:1120px) and (max-width:1159px) {html{font-size:30px;}}
@media (min-width:1080px) and (max-width:1119px) {html{font-size:29px;}}
@media (min-width:1040px) and (max-width:1079px) {html{font-size:28px;}}
@media (min-width:1000px) and (max-width:1039px) {html{font-size:27px;}}
@media (min-width:960px) and (max-width:999px) {html{font-size:26px;}}
@media (min-width:920px) and (max-width:959px) {html{font-size:25px;}}
@media (min-width:880px) and (max-width:919px) {html{font-size:24px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:768px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:720px) and (max-width:768px){html{font-size:20px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media screen and (max-width:399px){html{font-size:11px;}}
@media screen and (max-width:359px){html{font-size:10px;}}
@media screen and (max-width:319px) {html{font-size:9px;}}
@media screen and (max-width:289px){html{font-size:8px;}}
@media screen and (max-width:249px){html{font-size:7px;}}

@media screen and (max-width:1275px) {
   #header { height: 8vw;}
   #top-menu, #page-list, .search-bar
   { width: 93.7%; }
   #page-list {
      margin-top: 2.6667vw;
   }
   .faq-box, .faq-section, .faq-question  {width: 100%; }
   .t-logo { width: 15.3727vw; height: 2.3530vw; }
   .mypage { width: 1.4949vw; height: 1.6816vw; }
   .notice { width: 1.4118vw; height: 1.5686vw; }
   .FAQ { width: 1.4118vw; height: 1.4118vw; }
   .cart { width: 1.6471vw; height: 1.5686vw; }
   .ham-menu-bar { width: 2.2878vw; height: 1.8384vw;}



   .search-menu { height: 4.8627vw;}
   .search-bar { width: 93.7%; }
   .search-box { width: 28.7059vw; height: 3.0588vw;}
   .search-box > input { width: 25.4902vw;}
   .search-box > button { width: 6.8235vw;}
   .search-img { width: 1.4902vw; height: 1.5294vw;}
   .search-box > input { border-radius: 3.6863vw; border: 0.1961vw solid #DFDFDF;}
   .search-box > button { border-radius: 3.6863vw;}



   .all-text { width: 3.1373vw; height: 2.8235vw;}
   .event { width: 2.9020vw; height: 2.9020vw; }
   .best-seller { width: 2.7788vw; height: 2.8235vw; }
   .new-product { width: 3.5020vw; height: 3.6078vw; }
   .goods { width: 2.5412vw; height: 2.8235vw; }
   .data-room { width: 2.8235vw; height: 2.8235vw; }

   .search-bar span {
      font-size: 0.63rem;
      line-height: 0.63rem;
   }



   /* faq-menu */

   .faq-title {
      font-size: 0.81rem;
      line-height: 0.94rem;
   }


   /* faq-seachBox */
   .faq-searchBox {
      display: flex;
      margin-bottom: 3.7657vw;
      align-items: center;
      height: 100%;
   }


   .selectBox {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 3.6863vw;
      margin-right: 1.3333vw;
   }

   



   .selectBox .label {
      position: relative;
      width: 13.8824vw;
      height: 4.1569vw;
      margin-top: 0;
      text-indent: 2.0513vw;
      font-size: 0.60rem;
      line-height: 0.66rem;
      background-size: 1.8039vw;
      border-radius: 3.6863vw;
      padding-top: 0.3137vw;
      border: 0.1961vw solid #DFDFDF;

   }



   .selectBox .optionList {
      top: 0px;
      left: 0;
      width: 100%;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      max-height: 0;
      /* transition: .3s ease-in; */
      
      border-radius: 2.1176vw;
   }

   .selectBox.active .optionList {
      max-height: 39.2157vw;
   }


   .selectBox .optionItem {
      padding: 1.3333vw;
      padding-left: 2.0513vw;
      font-size: 0.56rem;
      line-height: 0.66rem;
   }

   
   .selectBox.active .label{
      background-size: 1.8039vw;
      background-color: #FDFDFD;
   }
   
   
   .selectBox .optionItem:first-child {
      padding-top: 5.4118vw;
      width: 100%;
      padding-bottom: 1.3333vw;
      height: 100%;;
   }
   
   
   .selectBox .optionItem:last-child {
      width: 100%;
      padding-bottom: 1.8824vw;
      height: 100%;;
   }
   

   
   



   .selectBox .optionList::-webkit-scrollbar {width: 0.4706vw;}
   .selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 3.5294vw;}
 


   /* faq-search */

   .faq-search { 
      width: 78.5098vw; height: 4.1569vw; background: #fff; 
      position: relative; border-radius: 3.6863vw; outline: none;
   }

   .faq-search > input { 
      width: 78.5098vw; 
      border: 0.1961vw solid #DFDFDF; border-radius: 3.6863vw;
      padding: 0 15.8431vw 0 4.7843vw;
      font-size: 0.66rem;
      line-height: 0.75rem;
      height: 4.1569vw;
   }
   .faq-search > button { 
      width: 13.8824vw; border: 0.0784vw solid transparent; 
      border-radius: 3.6863vw; 
      font-size: 0.60rem;
      line-height: 0.75rem;

   }


   .faqsearch-img { 
      top: 29%;
   left: 2%; 
      width: 1.8024vw;
         height: 1.8039vw;
   }



   /* faq-arrange */

   .faq-arrange {
      /* border-bottom: 0.2347vw solid #EC5937; */

   }

   #arrange-border {
      top: 7.0667vw;
      height: 0.3137vw;
   }

   .arrange-box {
      width: 30.8235vw;
      height: 7.030vw;
      padding-bottom: -0.1282vw;
      z-index: 900;
   }

   .arrange-text {
      font-size: 0.81rem;
      line-height: 0.94rem;
   }




   /* faq-view-point */

   .faq-view-point {
      margin-top: 0.3137vw;
      height: 6.2059vw;
      border-bottom: 0.3137vw solid #F3F3F3;
   }

   .view-box {
      width: 12.0000vw;
      margin-bottom: -0.3922vw;
   }

   .view-text {
      font-size: 0.63rem;
      line-height: 0.72rem;
   }

   #vertical-underline {
      width: 12.0000vw;
      background: #EC5937;
      top: 5.3333vw;
   }
   

   /* .view-active {
      border-bottom: 0.3137vw solid #EC5937;
   } */

   /* faq-section */




   .faq-title {
      height: 100%;
      background-size: 7.6863vw, 3.9216vw;
      margin-bottom: 2.2745vw;
   }

   .faq-box {
      border-bottom: 0.3137vw solid #F3F3F3;
   }



   .faq-question {
      min-height: 10.1961vw;
      padding: 1.5686vw 7.8431vw 1.5686vw 10.1961vw;
   }

   .question-text {
      width: 75.2941vw;
      font-size: 0.75rem;
      line-height: 1.06rem;
   }

   .btn-point {
      width: 7.8431vw;
      z-index: 9000;
   }

   .question-logo {
      width: 2.6667vw;;
      height: 4.2353vw;
      top: 2.6667vw;
      left: 2.3529vw;
   }

   .btn-open, .btn-close{
      width: 2.5098vw;
      height: 1.2549vw;
   
      top: 4.7059vw;
      right: 2.5098vw;
   }

   .faq-answer {
      padding: 2.3529vw 7.8431vw 2.3529vw 10.1961vw;
      height: 100%;
      font-size: 0.50rem;
   }

   .answer-logo {
      position: absolute;
      width: 1.6471vw;
      height: 1.3333vw;
      top: 2.5882vw;
      left: 2.1176vw;
   }

   .answer-text {
      font-size: 0.75rem;
      line-height: 1.06rem;
      min-height: 7.8431vw;
      /* white-space:pre-wrap; */
   }



   
   
}


@media screen and (max-width: 650px){
   /* #wrap {
      min-width: 290px;
   } */

input[type=search], input[type=text] {-webkit-appearance:none;}

button {-webkit-appearance:none;}

   #top-menu, #page-list, .search-bar, .faq-section, 
   .faq-box, .faq-question { width: 89.7436vw; }

   #page-list {
		margin-top: 8.9744vw;
	}

   .mobile-faq-logo {
      justify-content: center;
   }

   .mobile-faq-logo, .mobile-bell-log{
      display: flex;
   }

   .mobile-title {
      display: block;
      font-weight: bold;
      font-size: 1.45rem;
      line-height: 1.64rem;
      text-align: center;
   }



   .mobile-bell-log {
      position: relative;
      justify-content: right;
   }

   /* sungbin */

   #header { width: 100%; height: 14.3590vw;}
	#top-menu { 
		width: 91%;
		align-items: center;
	}

   .t-logo { display: none;}
	.tm-logo { display: block; width: 15.3846vw; height: 3.9949vw;}
	nav { display: none;}
	.ham-menu { display: none;}

	
	.search-m > input{ 
		display: block; border: 1px solid rgba(235, 103, 60, 0.31);
		width: 38.7179vw; height: 8.7179vw; font-size: 1.2rem;
		padding: 0 2.5897vw 0 6.603vw;
	}
	.search-m { 
		width: 38.7179vw; height: 8.7179vw; display: block!important;
	}
	.search-m > img { 
		width: 3.5897vw; height: 3.5897vw;
		top: 50%; transform: translateY(-50%);
		left: 5%;
	}
	.bell { 
		width: 5.2128vw; height: 5.7897vw; margin-left: 4.3590vw; 
		display: block!important; cursor: pointer;
      position: absolute;
      right: 0;
	}
	/* .slide-wrap { height: 67.1795vw; background: #55d0d5;}
	.slides { width: 94%;}
	.slide-img { display: none;}
	.slide-img-m{display: block!important;} */

	.slide-wrap { display: none!important;}
	.slide-wrap2 { 
		display: block!important; height: 67.1795vw; overflow: hidden; width: 100vw;
		position: relative;
	}
	.slide-wrap2 .slide-img-m { 
		width: 100%!important; height: 100%;
		display: block; margin: 0 auto; cursor: pointer;
	}
	.slide-items-m { height: 100%!important; width: 100%!important; }
	.search-menu { height: 16.6667vw;}
	.search-bar { width: 90%;}
	.search-box-pc { display: none;}
	.category-title-m { 
		display: flex; display: block!important;
	}
	.c-img { width: 4.1026vw; height: 4.1026vw;}
	.compass { display: none;}
	.compass-m { float: right; width: 46.4103vw; height: 4.1026vw; display: block!important; }
	.c-img > span{ 
		width: 4.1026vw; height: 1.6410vw; border-radius: 0.5vw;
		border: 0.3333vw solid #EC5937;
	}
	.category-title-m > span { font-size: 1.2rem!important;}
	.c-img > span::before { width: 0.5128vw; height: 0.5128vw; border-radius: 50%;}
	.top-category > .category-title { display: none; }
	.all-category { margin: 0; height: auto; margin: 5.3846vw 0 1.2821vw 0; }
	.top-category {width: 90%; flex-wrap: wrap;}
	.top-category > section {
		 width: 27.1795vw; height: 22.3077vw; margin-bottom: 4.1026vw;
		 border-radius: 4.1026vw; border: 0.6410vw solid #DFDFDF;
	}
	.top-category > section > span { font-size: 1.2rem!important; }

	
	.top-category > section > img { margin-top: 1.2821vw;}
	.top-category > section span { margin-bottom: 1.2821vw;}

	.all-text { width: 6.4205vw; height: 5.7795vw;}
	.event { width: 5.7795vw; height: 5.7795vw; }
	.best-seller { width: 5.6410vw; height: 5.6410vw; }
	.new-product { width: 6.3503vw; height: 6.2077vw; }
	.goods { width: 5.4897vw; height: 6.1000vw; }
	.data-room { width: 6.1000vw; height: 6.1000vw; margin-bottom: 0.3128vw;}

	#book-list { margin-top: 9.3750vw; }
	.books { margin-top: 30px;}
	#book-list > section > h3 { font-size: 1.6rem;}
	#book-list > section > h3 > img { 
		width: 5.1282vw; height: 4.9667vw; vertical-align: middle;
		margin-left: 1vw;
	}
	.best-book > img { width: 4.6154vw; height: 4.6154vw;}
	#book-list > section > span { 
		font-size: 1.2rem!important; margin-top: 3.1641vw!important;
		margin-right: 4.6923vw;
	}
	.best-book > span > img { 
		width: 1.5385vw!important; height: 3.0769vw!important;
		vertical-align: middle; margin-left: 1.9821vw!important;
	}
	.best-book > h3 { margin-left: 1.5vw;}
	#book-list > section { width: 94%; }

	.fixed-menu { width: 94%!important;}

	.books > section > img { width: 40vw; height: 53.3333vw; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);}
	.third-book { display: none;}
	.fourth-book { display: none;}
	.fifth-book { display: none;}
	
	.books { 
		margin: 7.6923vw auto 0 auto; height: 84vw;
		width: 96%; justify-content: space-between;
	}
	.books > section { width: 41.2821vw; height: 80vw; }
	.books > section span { 
		 display: flex; flex-direction: column; line-height: 5vw;
	}
	.books > section span strong { width: 24vw;}
	.rank { 
		width: 7.6923vw; height: 9.7436vw; font-size: 1.8334rem;
	}
	.book-title { 
		width: 44%; height: auto; justify-content: space-between;
		align-items: center;
	}
	.book-title > span { 
		font-size: 1.19rem!important; 
		white-space: nowrap; text-overflow: ellipsis;
	}
	.book-explan { 
		font-size: 1.1rem!important; height: 7.6923vw;
	}
	.best-book { 
		width: 100%; padding-bottom: 13.7692vw;
	}
	.first-gray { display: none;}
	.books-m { width: 100%;}
	.books-m > section > img { width: 31.2821vw; height: 41.7949vw;}
	.fixed-menu > .search-box { display: none;}
	.fixed-category { 
		height: 14.3590vw!important; width: 100vw; display: none;
		/* position: fixed!important; */
      margin-top: 1.1765vw;
	}
	.fixed-menu > section > span { font-size: 1.3rem;}
	

	.all-text-fix { width: 4.5769vw!important; height: 4.1179vw!important;}
	.event-fix { width: 4.2333vw!important; height: 4.2333vw!important; }
	.best-seller-fix { width: 4.1667vw!important; height: 4.1667vw!important; }
	.new-product-fix { width: 4.1256vw!important; height: 4.1846vw!important; }
	.goods-fix { width: 3.7077vw!important; height: 4.1179vw!important; }
	.data-room-fix { width: 4.1179vw!important; height: 4.1179vw!important; }

	.fixed-menu > section { float: left; width: auto!important; margin-right: 7.6923vw!important; }
	.fixed-menu > section:first-child{ margin-left: 4.6923vw;}
	.fixed-menu { justify-content: start;}

	.slide-books-wrap { display: flex; padding-bottom: 10.7692vw!important;}
	.slide-books { width: 100%;}
	.slide-books > section:first-child { margin-left: 4.6923vw; }
	.slide-books > section { 
		display: block; width: 31.2821vw; height: 55.9744vw;
		margin-right: 7.6923vw;
	}
	.slide-books > section > img { 
		width: 31.2821vw; height: 41.7949vw;
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
	}
	.slide-books > section .book-title { width: 100%; }
	.slide-books > section h1 { 
		font-size: 1.4rem; width: 5.1282vw!important;
		height: 9.7436vw!important;
	}
	.slide-books > section span { font-size: 1.28rem!important;}
	.second-gray { display: block;}
	.gray-line { border: 0.1282vw solid #DFDFDF;}
	.new-book { padding: 7.6923vw 0 0 0!important; width: 100%!important;}
	.new-book > h3{ margin-left: 4.6923vw;}
	.book-list { margin-top: 7.6923vw; margin-bottom: 7.6923vw; justify-content: start;}
	.book-list > section:first-child { margin-left: 4.6923vw; }
	.book-list > section { height: 58.7vw; margin-right: 7.6923vw; width: 31.2821vw;}
	.book-list > section > span { font-size: 1.27rem; }
	.book-list > section > h4 { font-size: 1.27rem; }
	.book-list > section > p { display: none; }
	.book-list > section > img { 
		width: 31.2821vw; height: 41.7949vw;
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
	}
	.event-book { padding: 7.6923vw 0 3vw 0!important; height: auto; width: 100%!important;}
	.event-book-list { height: 56vw!important; margin-bottom: 7.6923vw;}
	.event-book > h3{ margin-left: 4.6923vw;}
	.event-book > img { width: 5.6250vw; height: 5.6250vw;}

	.goods-book { padding: 7.6923vw 0 0 0!important; height: auto; width: 100%!important;}
	.goods-book > img { width: 4.6875vw; height: 5.2094vw;}
	.goods-list { height: 56vw!important; margin-bottom: 35.8923vw;}
	.goods-book > h3{ margin-left: 4.6923vw;}

	.mobile-banner { width: 100%; height: 26.1538vw; display: block; cursor: pointer;}
	#footer { width: 100vw; }
	.footer-banner-bar { display: none;}
	.company-intro{ display: none;}

	.tosel-footer-bar { width: 100%; padding-bottom: 20.5128vw;}
	.tosel-footer{ width: 94%; margin: 0 auto;}
	.company-detail { display: block;}
	.company-detail > p { font-size: 0.9rem; line-height: 5vw;}
	.l-intro { margin-bottom: 5.3846vw; }
	/* #wrap { overflow-x: hidden;} */

	.footer-logo { width: 36.3846vw; height: 5.8718vw; margin-top: 8.7179vw;}

	.mobile-footer-menu { 
		position: fixed; width: 100%; bottom: 0; left: 0;
		height: 17.7500vw; display: flex; z-index: 99; border-radius: 20px 20px 0px 0px;
		background: #FBFBFB; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		justify-content: space-around; align-items: center;
	}

	.mobile-footer-menu > img { cursor: pointer; }

	.m-ham { width: 6.5923vw; height: 5.2744vw;}
	.m-user { width: 5.7538vw; height: 6.4718vw;}
	.m-home { width: 5.8256vw; height: 6.4718vw;}
	.m-faq { width: 6.4718vw; height: 6.4718vw;}
	.m-cart { width: 6.7974vw; height: 6.9231vw;}

	/* #book-shop { border: 1px solid green;} */




	body { position: relative;}
	.mobile-all-menu { 
		position: fixed; top: 0; left: 0; width: 0%; height: 100%; 
		z-index: 5000; transition: all 0.5s; overflow-y: scroll;
		display: block!important;
	}
	/* .mobile-all-menu div{ display: none;} */
	.mobile-header { 
		width: 100%; height: 14.3590vw; background: #fff;
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07); position: fixed;
		top: 0; left: 0;
	}
	.m-logo { width: 27.2051vw; height: 4.2513vw;}
	.m-close { width: 4.6154vw; height: 4.6154vw; cursor: pointer;}

	.mobile-header-items { 
		width: 91%; height: 100%;  margin: 0 auto;
		display: flex!important; justify-content: space-between; align-items: center;
	}

	.mobile-ne { height: 200.4872vw; margin-top: 14.5vw;}

	.all-cate { width: 33.5231vw; height: 5.1282vw; margin: 7.4359vw 0 4.7282vw 0;}
	.mobile-con { width: 91%; margin: 0 auto;}
	.mobile-slide-menu { 
		width: 100%; padding-bottom: 3.5897vw;
		display: flex!important; flex-wrap: wrap; justify-content: space-between;
	}

	.mobile-slide-menu > section { 
		width: 27.1795vw; height: 22.3077vw; border-radius: 4.1026vw;
		border: 0.6410vw solid #dfdfdf; margin-bottom: 4.1026vw;
		display: flex!important; flex-direction: column; justify-content: space-around;
		align-items: center; cursor: pointer;
	}
	.mobile-slide-menu > section > span { font-size: 1.27273rem; margin-bottom: 3.0769vw; font-weight: 600;}
	.mobile-slide-menu > section > img { margin-top: 1.7949vw; }


	.mobile-menu-allText { width: 6.4205vw; height: 5.7795vw;}
	.mobile-menu-event { width: 5.7795vw; height: 5.7795vw;}
	.mobile-menu-bestSeller { width: 5.6410vw; height: 5.6410vw; margin-top: 2.3077vw!important;}
	.mobile-menu-newProduct { width: 6.4103vw; height: 6.2077vw;}
	.mobile-menu-goods { width: 5.4897vw; height: 6.1vw;}
	.mobile-menu-dataRoom { width: 6.1vw; height: 6.1vw;}

	.mobile-nav { width: 100%; border-top: 0.2564vw solid #EC5937 }
	.mobile-nav > ul li { 
		display: flex; align-items: center; 
		padding: 4.8718vw 0; border-bottom : 0.2564vw solid #dfdfdf;
	}
	/* .mobile-nav > ul li > img { border: 1px solid blue;} */
	.mobile-nav > ul li a { font-size: 1.27273rem; color: #EC683D;}
	.mobile-nav > ul { width: 100%; margin: 0 auto;}

	.mobile-user { width: 5.1154vw; height: 5.7538vw; margin-right: 6.6795vw; margin-left: 5vw;}
	.mobile-bell { width: 5.1795vw; height: 5.7538vw; margin-right: 6.6154vw; margin-left: 5vw;}
	.mobile-faq { width: 5.6410vw; height: 5.6410vw; margin-right: 6.4103vw; margin-left: 5vw; }
	.mobile-cart { width: 6.0410vw; height: 6.1538vw; margin-right: 5.7667vw; margin-left: 4.5vw;}
	.mobile-join { width: 6.9231vw; height: 5.6641vw; margin-right: 4.6154vw;margin-left: 5vw;}


	.mobile-login { 
		width: 37.1795vw; height: 12.0513vw; border-radius: 7.6923vw;
		border: 0.6410vw solid #DFDFDF; background: #FFFFFF; color: #333;
		display: flex!important; justify-content: center; align-items: center; font-weight: bold;
		font-size: 1.4rem; margin: 7.2vw auto 50vw auto; cursor: pointer;
	}
	.recent-box { bottom: 23vw; right:5.6863vw; }


   .search-menu {
      display: none;
   }



   /* faq-menu */

   .faq-title {
      display: none;
   }


   /* faq-seachBox */
   .faqsearch-img {
      display: none;
   }

   .faq-searchBox {
      margin-bottom: 5.1282vw;
   }
 


   .selectBox {
      height: 8.7179vw;
      width: 22.5641vw;
      box-shadow: none !important;
   }



   .selectBox .label {
      padding: 1.1765vw;
      text-indent: 0px;
      padding-left: 2.5641vw;
      font-size: 1.09rem;
      line-height: 4.7179vw;
      z-index: 3001;
      border-radius: 12.0513vw;
      background-size: 3.3333vw;
      border-radius: 5.6863vw;
      width: 100%;
      height: 100%;
      background: #fdfdfd;
      background: url(../static/faq/faq-open.png) calc(100% - 16px) 49% no-repeat;
      background-size: 3.4483vw;
      padding-top: 1.6vw;
      box-shadow: none !important;
      border: 0.7436vw solid #DFDFDF;
   }


   .selectBox .optionList {
      position: absolute;
      top: 1.2821vw;
      left: 0;
      width: 100%;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      max-height: 0;
      /* transition: .3s ease-in; */
      z-index: 3000;
      padding-top: 5.1569vw;
      border-radius: 2.1176vw;
   }


   .selectBox .optionList {
      width: 22.5641vw;
      max-height: 0vw;
      padding-top: 0vw;

   }

   .selectBox.active .optionList {
      max-height: 51.2821vw;
      border-radius: 2.9231vw;
   }

 

   .selectBox .optionItem {
      width: 100%;
      height: 100%;
      background-size: 1.5686vw;
      padding: 2.5641vw;
      font-size: 1.09rem;
      line-height: 1.20rem;
   }

   .selectBox .optionItem:first-child {
      padding-top: 10.0000vw;
      padding-bottom: 2.5641vw;
   }

   .selectBox .optionItem:last-child {
      padding-bottom: 3.0769vw;
   }


   

   

   

   
   
   .selectBox.active .label{
      background-size: 3.3333vw;
      box-shadow: none !important;
   }

   .selectBox .optionList::-webkit-scrollbar {width: 0.4706vw;}
   .selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 3.5294vw;}
 


   /* faq-search */

   .faq-search { 
      width: 65.6410vw; height: 100%; 
      position: relative; border-radius: 3.6863vw; outline: none;
   }

   .faq-search > input { 
      width: 65.641vw;
      height: 8.7179vw;
      border: 0.7436vw solid #DFDFDF;
      padding: 0 21.2821vw 0 4.8718vw;
      font-size: 1.82rem;
      line-height: 1.82rem;
      background: rgba(255, 255, 255, 0.21);
      box-shadow: none !important;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-radius: 21.6863vw !important;
   }

   
   .faq-search > button { 
      width: 20vw; 
      border: 0.0784vw solid transparent; 
      border-radius: 12.0513vw;
      font-size: 1.09rem;
      line-height: 1.20rem;

   }


   .faqsearch-img { 
      top: 25%; left: 4%; width: 1.5294vw; height: 1.4902vw;

   }



   /* faq-arrange */

   .faq-arrange {
      /* border-bottom: 1.0256vw solid #EC5937; */
   }

   #arrange-border {
      top: 16.6667vw;
      width: 100%;
      height: 1.0256vw;
   }
   
   .arrange-box {
      width: 28.4615vw;
      height: 16.6667vw;
   }

   .arrange-text {
      font-size: 1.18rem;
      line-height: 16.6667vw;
   }


   /* faq-view-point */

   .faq-view-point {
      margin-top: 1.0256vw;
      height: 13.4615vw;
      border-bottom: 1.0256vw solid #F3F3F3;
   }

   .view-box {
      box-sizing: border-box;
      width: 15.3846vw;
      height: 13.4615vw;
   }

   .view-text {
      /* font-size 수정 */
      font-size: 1.09rem;
      line-height: 1.20rem;
   }


   #vertical-underline {
      height: 1.0256vw;
      border-radius: 0.7692vw;
      top: 13.4615vw;
   }

   /* .view-active {
      border-bottom: 1.0256vw solid #EC5937;
   } */

   /* faq-section */




   .faq-title {
      height: 7.8431vw;
      background-size: 7.6863vw, 3.9216vw;
   }

   .faq-box {
      border-bottom: 1.0256vw solid #F3F3F3;
   }



   .faq-section {
      margin-bottom: 50px;
   }

   

   .faq-question {
      min-height: 17.9487vw;
      padding: 5.5686vw 11.5385vw 5.5686vw 11.5385vw;
   }

   .question-text {
      width: 75.2941vw;
      font-size: 1.27rem;
      line-height: 1.73rem;
   }

   .btn-point {
      width: 7.8431vw;
      z-index: 9000;
   }

   .question-logo {
      width: 4.3590vw;
      height: 6.9231vw;
      top: 5vw;
   }

   .btn-open, .btn-close {
      width: 4.3590vw;
      height: 2.3077vw;
      top: 7.2745vw;
      right: 2.8039vw;
   }


   .faq-answer {
      padding: 0;
      width: 100%;
      height: 100%;
      /* min-height: 17.4359vw; */
   }
   

   .answer-logo {
      position: absolute;
      width: 1.6471vw;
      height: 1.3333vw;
      top: 2.5882vw;
      left: 2.1176vw;
   }

   .answer-text {
      padding: 5.8974vw 11.5385vw 5.8974vw 11.5385vw;
      font-size: 1.09rem;
      line-height: 1.70rem;
      /* white-space:pre-wrap; */
   }

   
   #paging > ul {
      width: 15.82rem;
     height: 3.45rem;
      list-style-type:none;
      box-shadow: 0px 3px 7px  rgba(0, 0, 0, 0.07);
      border-radius: 0.73rem;
      padding: 0;
      margin: 0;
      }
          
          #paging > ul li {
              text-align: center;
              font-size: 1.27rem;
              cursor:pointer;
              padding: 0.91rem 0px;
              color: #EC5937;
          border: 1px solid #EC5937;
          width: 3.45rem;
          height: 3.45rem;
          box-sizing: border-box;
      }
      #paging > ul > li:hover {
          /*background: #fbfbfb;*/
          /*font-weight:bold;*/
          opacity: 0.9;
      }
      
  
      #paging > ul > li.selected {
          color: #FDFDFD;
          font-weight:bold;
          cursor:default;
          background: #EC5937;
      }
      
      #paging > ul > li.next {
          width: 2.73rem;
          border-top-right-radius: 0.73rem;
          border-bottom-right-radius: 0.73rem;
          background: url(../static/faq/paging-next.png) no-repeat center / contain;
          background-size: 1.36rem 1.82rem;
          
      }
  
      #paging > ul > li.previous {
          width: 2.73rem;
          border-top-left-radius: 0.73rem;
          border-bottom-left-radius: 0.73rem;
          background: url(../static/faq/paging-previous.png) no-repeat center / contain;
          background-size: 1.36rem 1.82rem;
      }


}

@media screen and (max-width: 420px){
   .selectBox .label {
      background: url(../static/faq/faq-open.png) calc(100% - 3.2549vw) center no-repeat;
      background-size: 3.3333vw;
}

.selectBox.active .label {
   background: url(../static/faq/faq-close.png) calc(100% - 3.2549vw) center no-repeat;
   background-size: 3.3333vw;

}

}


@media screen and (max-width: 380px){


      .selectBox .label {
            margin-top: 0px;
            background: url(../static/faq/faq-open.png) calc(100% - 3.2549vw) center no-repeat;
            background-size: 2.5513vw;

      }

      .selectBox.active .label {
         background: url(../static/faq/faq-close.png) calc(100% - 3.2549vw) center no-repeat;
         background-size: 2.5513vw;
      }
      


}

@media screen and (max-width: 300px){
      .view-box {
         width: 100%;
      }
      
      .l-intro, .r-intro {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }
}


@media screen and (max-width: 210px){
   .arrange-text {
      /* -webkit-transform: scale(0.83); */
      text-indent: -1vw;
      text-align: center;
      word-break: break-all;
      line-height: 1.5rem;
   }





}


@media screen and (max-width: 203px){
   .arrange-text {
      /* -webkit-transform: scale(0.83); */
      text-indent: -1vw;
      text-align: center;
      word-break: break-all;
      line-height: 1.5rem;
   }


}

   
.l-intro, .r-intro {
   white-space: pre-wrap;
}