@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


* { margin: 0px; padding: 0px; 
   box-sizing: border-box; 
   font-family: NanumSquare;
   list-style-type: none; text-decoration: none;
}


html,body { width: 100%; height: 100%; font-size: 32px;}


/* password 보이지 않게 하기 */

input[type=password] {font-family:'Malgun gothic', dotum, sans-serif;}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ 
   font-family: 'nanumsquare', sans-serif; color: #888  /* Firefox */ } 
input::-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #888; } 
input::-ms-input-placeholder { /* Microsoft Edge */ color: #888; }


table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer; 
}


a:active {
   text-decoration: none;
   color: #333333;
}

a {text-decoration: none; outline: none}

 a:hover, a:active {text-decoration: none;}


/* blind */

.blind { position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden; }



#wrap { width: 100%; height: 100%; }



#content { width: 100%;}

/* mypage-menu */

.mypage-menu {
   width: 228px;
   height: 378px;
   margin-right: 40px;
}

.mypage-title {
   height: 111px;
   font-weight: normal;
   font-size: 24px;
   line-height: 111px;
   font-size: center;
   text-align: center;
   color: #FFFFFF;
   background: #EC5937;
}

.mypage-item {
   height: 70px;
   background: #F3F3F3;
   font-weight: normal;
   font-size: 18px;
   line-height: 70px;
   text-align: center;
   border: 1.5px solid #FFFFFF;
}


.text-active {
   color: #EC5937;
   font-weight: bold;
 }

/* manage-info */

.manage-info {
   width: 927px;
}

.manage-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 27px;
   margin-bottom: 45px;
}

.manage-sub {
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 27px;
   margin-bottom: 6px;
}


.form-box {
   border-top: 4px solid #EC5937;
}



.form-item {
   display: flex;
}

.form-lab {
   display: flex;
   align-items: center;
   background: #F3F3F3;
   width: 152px;
   border-bottom: 1.5px solid #FFFFFF;
   font-weight: bold;
   font-size: 18px;
   line-height: 20px;
   text-align: center;
}

.form-lab p {
   margin: 0 auto;
}


.input-text {
   display: flex;
   align-content: center;
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
   padding-left: 30px;
   width: 670px;
   border-bottom: 1.5px solid #F3F3F3;
}

.input-text.direction {
   flex-direction: column;

}


.same-height {
   display: flex;
   align-items: center;
   height: 75px;
}

.input-wrap {
   display: flex;
   align-items: center;
   width: 150px;
   height: 34px;
   border: 0.5px solid #333333;
   box-sizing: border-box;
   border-radius: 5px;
   margin-bottom: 10px;
}


.inp {
   width: 100%;
   height: 100%;
   overflow: hidden;
   padding: 8px 8px 5px;
   background: transparent;
   border: none;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
}

.add-info {
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: #EC5937;
}

.email-check {
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
   color: #EC5937;
}



.input-detail {
   display: flex;
}


.input-box {
   display: flex;
   align-items: center;
   width: 217px;
   height: 34px;
   border: 0.5px solid #333333;
   box-sizing: border-box;
   border-radius: 5px;
}


.input-detail {
   display: flex;
   align-items: center;
   height: 50px;
}

.detail-lab {
   width: 200px;
}

.passbtn-wrap {
   text-align: center;
   margin-left: 200px;
   margin-top: 40px;
}
#passChange {
   width: 136px;
   height: 34px;
   line-height: 34px;
   background: #EC5937;
   border-radius: 5px;
   display: block;
   background: #EC5937;
   font-weight: normal;
   font-size: 18px;

color: #FDFDFD;
}

.btn-addressbox {
   text-align: center;
}

.btn-address {
   width: 136px;
   height: 34px;
   line-height: 34px;
   background: #EC5937;
   border-radius: 5px;
   display: inline-block;
   background: #EC5937;
   font-weight: normal;
   font-size: 18px;
   font-weight: normal;
   font-size: 18px;
   line-height: 34px;
   color: #FDFDFD;
}

.address-box {
   width: 151px;
   height: 34px;
   margin-right: 30px;
}

.address-inp {
   width: 568px;
   height: 34px;
}

.phone-inp {
   width: 213px;
   height: 34px;
}

.phone-detail {
   padding: 30px 0;
}

.address-text {
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
}

.address-text.caution {
   font-size: 14px;
   line-height: 16px;
}

.direction {
   padding-top: 20px;
   padding-bottom: 20px;
}

.inp-area {
   width: 100%;
   overflow: hidden;
   padding: 8px 8px 5px;
   background: transparent;
   border: none;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
}

.btn-email, .btn-emailcheck {
   width: 136px;
   height: 34px;
   line-height: 34px;
   background: #EC5937;
   border-radius: 5px;
   display: inline-block;
   background: #EC5937;
   font-weight: normal;
   font-size: 18px;
   font-weight: normal;
   font-size: 18px;
   line-height: 34px;
   color: #FDFDFD;
}

.btn-email {
   border: 1px solid #EC5937;
   background: transparent;
   color: #EC5937;
}


.mobile-selectText {
   display: none;
}
.email-box {
   width: 411px;
   height: 34px;
   margin-right: 20px;
}

.selectAgreebox {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 187px;
   height: 80px;
}

.sms-text {
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
}

.sms-box {
   padding: 20px 0;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
}


.btn-wrap {
   text-align: center;
}



.vaild {
   margin-bottom: 15px;
}

.vaild a {
   display: inline-block;
   width: 89.68px;
   height: 61.43px;
   background: #F3F3F3;
   font-size: 18px;
line-height: 21px;
/* identical to box height */
   text-align: center;
   line-height:61.43px;
   color: #333333;
}

.focus {
   color: #FDFDFD;
   background: #EC5937;
}

.selectAgreement {
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
}

.active-box {
   background: #EC5937;
   color: #FDFDFD;
}




/* btn-wrap */
.btn-wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 491px;
   margin: 0 auto;
   margin-top: 80px;
}



.btn-model {
   margin: 0 auto;
   display: block;
   width: 234px;
   height: 92.16px;
   background: #EC5937;
   filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.07));
   border-radius: 20px;
   font-weight: bold;
   font-size: 24px;
   color: #FDFDFD;
   margin: 0;
   /* line-height: 92px; */
}

.btn-model > a {
   color: #FDFDFD;
}

.withdraw-color {
   background: #FDFDFD;
   border: 3px solid #EC5937;
   box-sizing: border-box;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
   color: #EC5937;
}




/* dimmed-section */


.mobile-check-bar {
   display: none;
}


.dimmed-section {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.2);
   opacity:.8;
   filter: alpha(opacity=80);
   z-index: 100000;
   /* height: 1000px; */
   /* overflow-y: hidden; */
}

.pop-up, .check-up {
   display: block;
   position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 1195px;
   height: 273px; margin: auto auto; padding: 10px;
   text-align: center;
   background-color: #FdFdFd;
   padding-top: 90px;
   padding-bottom: 80px;
   border-radius: 20px;
   z-index: 100010;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pop-up, .check-up {
   display: none;
}

.check-up {
   height: 308px;
   padding: 30px 0 20px 0;
}

.popup-title {
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   margin-bottom: 12px;
}

.popup-text {
   font-weight: bold;
   font-size: 14px;
   line-height: 16px;
   color: #EC683D;
   margin-bottom: 55px;
}

.popup-leavetext {
   font-weight: bold;
   font-size: 12px;
   line-height: 14px;
   color: #EC683D;
   margin-bottom: 20px;
}


.btn-box {
   display: flex;
   width: 240px;
   margin: 0 auto;
   justify-content: space-between;
   
}

.btn-box  > button {
   width: 80px;
   height: 40px;
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
   border: none;
   background-color: #FFFFFF;
}


.member-cancel {
   color: #EC683D;
}



.mcheck-input {
   width: 304px;
   margin: 0 auto;
   text-align: left;
   margin-bottom: 20px;
}

.mcheck-input label {
   display: block;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   margin-bottom: 7px;
}

.mcheck-inputarea {
   width: 100%;
   height: 100%;
   background: #EEEEEE;
}

.mcheck-inputarea input {
   background: transparent;
   border: none;
   width: 100%;
   height: 100%;
   padding: 8px 10px;
}

.check-up .btn-box {
   margin-top: 10px;
}


.member-check, .member-cancel {
   cursor: pointer;
}


.mcheck-inputarea {
   width: 304px;
   height: 31px;
   
}

.mcheck-inputarea input {
   display: block;
   font-size: 13px;
   line-height: 15px;


}
/* #footer { width: 100%; height: 585px; background: cadetblue; } */




@media screen and (max-width:349px) and (max-width:370px){html{font-size:10px;}}
@media screen and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}







 


@media (min-width:1160px) and (max-width:1199px) {html{font-size:31px;}}
@media (min-width:1120px) and (max-width:1159px) {html{font-size:30px;}}
@media (min-width:1080px) and (max-width:1119px) {html{font-size:29px;}}
@media (min-width:1040px) and (max-width:1079px) {html{font-size:28px;}}
@media (min-width:1000px) and (max-width:1039px) {html{font-size:27px;}}
@media (min-width:960px) and (max-width:999px) {html{font-size:26px;}}
@media (min-width:920px) and (max-width:959px) {html{font-size:25px;}}
@media (min-width:880px) and (max-width:919px) {html{font-size:24px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:768px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:720px) and (max-width:768px){html{font-size:20px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media screen and (max-width:399px){html{font-size:11px;}}
@media screen and (max-width:359px){html{font-size:10px;}}
@media screen and (max-width:319px) {html{font-size:9px;}}
@media screen and (max-width:289px){html{font-size:8px;}}

@media screen and (max-width:1275px) {
   


   .mypage-menu {
      width: 7.13rem;
      height: 11.81rem;
      margin-right: 0.56rem;
   }
   
   .mypage-title {
      height: 3.41rem;
      font-size: 0.75rem;
      line-height: 3.41rem;
   }
   
   .mypage-item {
      height: 2.19rem;
      font-size: 0.56rem;
      line-height: 2.19rem;
      border: 0.05rem solid #FFFFFF;
   }
   
   
   /* manage-info */


   
   .manage-info {
      width: 64.3137vw;
   }
   
   .manage-title {
      font-size: 0.75rem;
      line-height: 0.75rem;
   }
   
   .manage-sub {
      font-size: 0.75rem;
      line-height: 0.75rem;
      margin-bottom: 0.3125vw;
   }
   
   
   .form-box {
      border-top: 0.2083vw solid #EC5937;
   }
   

   
   .form-lab {
      width: 11.9216vw;
      font-size: 0.56rem;
      line-height: 0.76rem;
   }
   
   
   
   .input-text {
      font-size: 0.56rem;
      line-height: 0.63rem;
      padding-left: 0.94rem;
      width: 52.5490vw;
   }
   
  
   
   .same-height {
      height: 2.34rem;
   }
   
   .input-wrap {
      width: 11.7647vw;
      height: 2.6667vw;
      border: 0.0260vw solid #333333;
      border-radius: 0.3922vw;
      margin-bottom: 0.7843vw;
   }
   
   
   .inp {
      padding: 0.6275vw;
      font-size: 0.56rem;
      line-height: 0.66rem;
   }
   
   .add-info {
      font-size: 0.55rem;
      line-height: 0.53rem;
   }
   
   
   .email-check {
      font-size: 0.56rem;
      line-height: 0.63rem;
   }
   
   
   .input-box {
      width: 17.0196vw;
      height: 2.6667vw;
      border: 0.0260vw solid #333333;
      border-radius: 0.3922vw;
   }
   
   
   .input-detail {
      height: 3.9216vw;
   }
   
   .detail-lab {
      width: 15.6863vw;
   }
   
   .passbtn-wrap {
      margin-left: 15.6863vw;
      margin-top: 3.1373vw;
   }
   #passChange {
      width: 10.6667vw;
      height: 2.6667vw;
      line-height: 2.6667vw;
      border-radius: 0.2604vw;
      font-size: 0.56rem;
   }
   
   
   .btn-address {
      width: 10.6667vw;
      height: 2.6667vw;
      line-height: 2.6667vw;
      border-radius: 0.2604vw;
      font-size: 0.56rem;
      line-height: 2.6667vw;
      color: #FDFDFD;
   }
   
   .address-box {
      width: 11.8431vw;
      height: 2.6667vw;
      margin-right: 2.3529vw;
   }
   
   .address-inp {
      width: 44.5490vw;
      height: 2.6667vw;
   }
   
   .phone-inp {
      width: 16.7059vw;
      height: 2.6667vw;
   }
   
   .phone-detail {
      padding: 2.3529vw 0;
   }

   
   .address-text {
      font-weight: normal;
      font-size: 1.4118vw;
      line-height: 1.686vw;
   }

   .address-text.caution {
      font-size: 1.0980vw;
      line-height: 1.9vw;
      text-indent: -1vw;
      padding-left: 1vw;
      word-break: keep-all;
   }
   
   .direction {
      padding-top: 1.5686vw;
      padding-bottom: 1.5686vw;
   }
   
   .inp-area {
      padding: 0.4167vw 0.4167vw 0.2604vw;
      font-size: 0.56rem;
      line-height: 0.66rem;
   }
   
   .btn-email, .btn-emailcheck {
      width: 10.6667vw;
      height: 2.6667vw;
      line-height: 2.6667vw;
      border-radius: 0.2604vw;
      font-size: 0.56rem;
      line-height: 1.06rem;
   }
   
   .btn-email {
      border: 0.0521vw solid #EC5937;
   }
   
   .email-box {
      width: 32.2353vw;
      height: 2.6667vw;
      margin-right: 1.5686vw;
   }
   
   .selectAgreebox {
      width: 14.6667vw;
      height: 6.2745vw;
   }
   
   .sms-text {
      font-size: 0.44rem;
      line-height: 0.53rem;
   }
   
   .sms-box {
      padding: 1.56867vw 0;
      font-size: 0.44rem;
      line-height: 0.53rem;
   }
   
   
   
   .vaild {
      margin-bottom: 1.1765vw;
   }
   
   .vaild a {
      width: 7.0337vw;
      height: 4.8180vw;
      font-size: 0.56rem;
      line-height:4.8180vw;
   }
   
   
   .selectAgreement {
      font-weight: normal;
      font-size: 0.56rem;
      line-height: 0.63rem;
   }
   
   
 
   
   .btn-wrap {
      width: 38.5490vw;
      margin-top: 6.2745vw;
   }
   
   
   
   
   .btn-model {
      width: 18.3529vw;
      height: 7.2282vw;
      background: #EC5937;
      filter: drop-shadow(0.0000vw 0.2353vw 0.5490vw rgba(0, 0, 0, 0.07));
      border-radius: 1.5686vw;
      font-size: 1.8824vw;
      /* line-height: 7.2157vw; */
   }
   
   
   .withdraw-color {
      background: #FDFDFD;
      border: 0.2353vw solid #EC5937;
      
      box-shadow: 0.0000vw 0.2353vw 0.5490vw rgba(0, 0, 0, 0.07);
      
   }
   

/* 딤드 영역 */


   
   .pop-up, .check-up {
      width: 93.7%;
      height: 21.4118vw; 
      padding: 0.7843vw;
      padding-top: 7.0588vw;
      padding-bottom: 6.2745vw;
      border-radius: 1.5686vw;
      filter: drop-shadow(0px 0.3922vw 0.3922vw rgba(0, 0, 0, 0.25));
   }
   



   .check-up {
      height: 24.1569vw;
      padding: 2.3529vw 0 1.5686vw 0;
   }
   
   .popup-title {
      font-size: 0.56rem;
      line-height: 0.66rem;
      margin-bottom: 0.9412vw;
   }

   .check-up .popup-title {
      margin-bottom: 0.9412vw;
   }
   
   .popup-text {
      font-size: 0.44rem;
      line-height: 0.50rem;
      margin-bottom: 4.3137vw;
   }

   .popup-leavetext {
      font-size: 0.38rem;
      line-height: 0.44rem;
      margin-bottom: 1.5686vw;
   }
   
   
   
   .btn-box {
      width: 18.8235vw;
      
   }
   
   .btn-box  > button {
      width: 6.2745vw;
      height: 3.1373vw;
      font-size: 0.56rem;
      line-height: 0.66rem;
   }
   
   
   
   .mcheck-input {
      width: 23.8431vw;
      margin-bottom: 1.5686vw;
   }
   
   .mcheck-input label {
      font-size: 0.41rem;
      line-height: 0.47rem;
      margin-bottom: 0.5490vw;
   }
   

   
   .mcheck-inputarea input {
      padding: 0.6275vw 0.7843vw;
      font-size: 0.41rem;
      line-height: 0.50rem;
      
   }
   
   .check-up .btn-box {
      margin-top: 0.7843vw;
   }
   
   .mcheck-inputarea {
      width: 23.8431vw;
      height: 2.4314vw;
      
   }
   
}





@media screen and (max-width: 650px){
   /* #wrap {
      min-width: 290px;
   } */

   

   .mypage-menu, .manage-title {
      display: none;
   }

   .manage-sub {
      font-size: 1.64rem;
      margin-bottom: 2.8205vw;
   }
   .manage-sub {
      font-size: 4.6154vw;
      line-height: 5.1282vw;
      margin-bottom: 2.0513vw;
    } 

   .manage-info {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 3.9216vw;
   }


   .form-box {
      border-top: 0.5228vw solid #EC5937;
   }


   
   .form-lab {
      width: 18.9231vw;
      font-size: 1.27rem;
      line-height: 6.9231vw;
      font-weight: bold;
      border-bottom: none;
   }
   
   .mobile-text {
      padding: 2.0513vw;
      font-size: 1.27rem;
   }
   
   .input-text {
      font-size: 0.56rem;
      line-height: 0.63rem;
      padding-left: 6.1538vw;
   }

   .form-lab > p, .form-lab label {
      font-size: 1.27rem;
   }
   
  
   
   .same-height {
      height: 14.3590vw;
   }
   
   
   .input-wrap {
      width: 66.6667vw;
      height: 8.4615vw;
      border: 0.0260vw solid #333333;
      border-radius: 1.2821vw;
      margin-bottom: 0.7843vw;
      background: transparent;
      border: none;
   }
   
   .mobile-name {
      margin-bottom: 1.2821vw;
   }
   
   .inp {
      height: 100%;
      padding: 2.0513vw;
      font-size: 1.27rem;;
      line-height: 0.70rem;
   }

   .add-info {
      -webkit-transform:scale(0.83);
      text-indent: -5vw;
      font-size: 0.69rem;
      line-height: 0.69rem;
   }

   .genderText {
      width: 66.6667vw;
      height: 8.4615vw;
      background: transparent;
      border-radius: 1.2821vw;
      padding: 2.0513vw;
      font-size: 1.27rem;
      line-height: 4.4615vw;
      font-weight: normal;
   }

   .email-check {
      width: 66.6667vw;
      height: 8.4615vw;
      background: transparent;
      border-radius: 1.2821vw;
      padding: 2.0513vw;
      font-size: 1.27rem;
      line-height: 4.4615vw;
      font-weight: normal;
   }

   .m-text-line {
      width: 4rem;
      line-height: 1.5rem;
   }


   
   .input-box {
      width: 17.0196vw;
      height: 2.6667vw;
      border: 0.0260vw solid #333333;
      border-radius: 0.3922vw;
   }
   
   
   .input-detail {
      height: 8.4615vw;
      margin-bottom: 2.5641vw;
   }
   
   .detail-lab {
      width: 15.6863vw;
      display: none;
   }

   .input-box {
      width: 66.6667vw;
      height: 8.4615vw;
      border: 0.0260vw solid #333333;
      border-radius: 1.2821vw;
      margin-bottom: 0.7843vw;
      background: #F3F3F3;
      border: none;

   }

   .inp-area {
      height: 100%;
      padding: 2.0513vw;
      font-size: 1.27rem;
      font-size: 1.27rem;
   }
   
   .passbtn-wrap {
      margin-left: 0vw;
      margin-top: 0vw;
      margin-bottom: 4.3590vw;
   }

   #passChange {
      width: 20.2564vw;
      height: 8.4615vw;
      line-height: 8.4615vw;
      border-radius: 1.2821vw;
      font-size: 1rem;
   }
   
   
   .btn-address {
      width: 20.2564vw;
      height: 8.4615vw;
      line-height: 8.4615vw;
      border-radius: 1.2821vw;
      font-size: 1.27rem;
      line-height: 8.4615vw;
      color: #FDFDFD;
   }
   
   .address-box {
      width: 44.3590vw;
      height: 8.4615vw;
      margin-right: 2.3529vw;
   }
   
   .address-inp, .phone-inp {
      width: 66.6667vw;
      height: 8.4615vw;
   }
   
   
   .phone-detail {
      padding: 2.3529vw 0;
   }
   
   .address-textbox {
      display: block;
   }
   
   .direction {
      padding-top: 1.5686vw;
      padding-bottom: 1.5686vw;
   }
   
   


   .input-detail {
      position: relative;
   }
   
   .btn-email {
      position: absolute;
      width: 24.6154vw;
      height: 8.4615vw;
      top: 10.5128vw;
      right: 3.1538vw;
      border: 0.0521vw solid #EC5937;
      border-radius: 1.2821vw;
      background: #EC5937;
      color: #FDFDFD;
      line-height: 8.4615vw;
      font-size: 1.27rem;
   }

   .btn-emailcheck {
      display: none;
   }
   
   .email-box {
      width: 66.6667vw;
      height: 8.4615vw;
      margin-right: 1.5686vw;
   }
   
   .mobile-emailbox {
      width: 37.0256vw;
   }

/* select */

   .mobile-selectText, .sms-text {
      display: block;
      word-wrap:break-word;
      font-size: 0.91rem;
      line-height: 1rem;
   }

   .mobile-select {
      display: none;
   }

   .selectAgreebox {
      width: 14.6667vw;
      height: 6.2745vw;
   }
   
   
   .mobile-layout, .sms-box, .emailsms-box {
      margin-bottom: 5.1282vw;
   }


   .mobile-perInfo {
      display: block;
   }

   .mobile-perlab {
      width: 100%;
      font-size: 1.27rem;
      line-height: 6.9231vw;
      font-weight: bold;
      background: transparent;
   }

   .mobile-perlab p {
      margin: 0;
      margin-top: 5.6410vw;
      font-size: 1.27rem;
   }

   .mobile-perText {
      padding: 0;
   }

   .mobile-perBox {
      margin-top: 2.3077vw;

   }
   
   
   .vaild {
      margin-bottom: 1.1765vw;
   }
   
   .vaild a {
      width: 16.9231vw;
      height: 11.7949vw;
      font-size: 1.64rem;
      line-height: 11.7949vw;
   }
   
   
   .selectAgreebox {
      margin-bottom: 3.0026vw;
   }


   
   .btn-wrap {
      margin: 0 auto;
      margin-top: 8.2051vw;
      display: block;
      width: 60.0000vw
   }

   .btn-model {
      width: 100%;
      height: 11.2821vw;
      box-shadow: 0px 0.1563vw 0.3646vw rgba(0, 0, 0, 0.25);
      border-radius: 1.2821vw;
      font-size: 3.5897vw;
      /* line-height: 11.2821vw; */
   }

   .btn-model:nth-child(1) {
      margin-bottom: 3vw;
   }


   

   .btnConfirm, .btnWithdraw, .btn-model {
      width: 100%;
   }
   
   #btnWithdraw {
      border: 0.2564vw solid #EC5937; 
      margin-top: 6.8769vw;
   }

   .input-detail {
      margin-bottom: 0px;
      height: 100%;
   }

   .address-text {
      width: 66.6667vw;
      height: 100%;
      background: transparent;
      border-radius: 1.2821vw;
      padding: 2.0513vw;
      font-size: 1.27rem;
      line-height: 4.4615vw;
      font-weight: normal;
      word-break: keep-all;
   }


   .address-text.caution {
      display: none;
   }



   /* dimmed */



   .pop-up, .check-up {
      width: 89.7%;
      padding: 6.6667vw 0 5.8974vw 0;
      border-radius: 5.1282vw;
      filter: none;
   }

   .check-up {
      height: 69.2308vw;
   }

   
   .pop-up {
      height: 37.6923vw;

   }


   .check-up {
      height: 69.2308vw;
      padding: 7.4359vw 0 5.1282vw 0;
   }


   
   .popup-title {
      font-size: 1.64rem;
      line-height: 1.82rem;
      margin-bottom: 3.3333vw;
   }

   .check-up .popup-title {
      margin-bottom: 2.8205vw;
   }
   
   .popup-text {
      font-size: 1.09rem;
      line-height: 1.27rem;
      margin-bottom: 5.1282vw;
   }

   .popup-leavetext {
      font-size: 1.09rem;
      line-height: 1.27rem;
      margin-bottom: 2.8205vw;
   }
   
   
   
   .btn-box {
      width: 56.4103vw;
      display: flex;
      align-items: center;
      
   }

   
   .btn-box  > button {
      width: 12.8205vw;
      height: 7.6923vw;
      font-size: 1.64rem;
      line-height: 1.82rem;
   }
   
   .mobile-check-bar {
      display: block;
      width: 1px;
      height: 22px;
      background: #DFDFDF;
   }
   
   .mcheck-input {
      display: block;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 3.8462vw;
      padding: 0 5.1282vw;
     
      
   }

   
   .mcheck-input label {
      display: block;
      font-size: 1.18rem;
      line-height: 1.36rem;
      margin-bottom: 1.7949vw;
   }
   

   
   .mcheck-inputarea input {
      padding: 2.0513vw 2.5641vw;
      font-size: 1.18rem;
      line-height: 1.36rem;
      
   }
   
   .check-up .btn-box {
      margin-top: 0.7843vw;
   }
   
   .mcheck-inputarea {
      width: 77.9487vw;
      height: 7.9487vw;
      margin: 0 auto;
      
   }


   


}



input[type="checkbox"] {
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: 0;
   background: transparent;
   height: 25px;
   width: 25px;
   border: 1px solid #C4C4C4;
   border-radius: 5px;
 }
 
 input[type="checkbox"]:checked {
   background: #EC5937;
 }
 
 input[type="checkbox"]:hover {
   filter: brightness(100%);
 }
 
 input[type="checkbox"]:disabled {
   background: #e6e6e6;
   opacity: 0.6;
   pointer-events: none;
 }
 
 input[type="checkbox"]:after {
   content: '';
   position: relative;
   left: 33%;
   top: 3%;
   width: 28%;
   height: 68%;
   border: solid #fff;
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);
   display: none;
 }
 
 input[type="checkbox"]:checked:after {
   display: block;
 }
 
 input[type="checkbox"]:disabled:after {
   border-color: #7b7b7b;
 }





